Repository a10pepo/EDEM_MDA2425, changes with the labels that .github/labeler.yml gives for each.
All labels: LINUX, DOCKER, PYTHON, SQL, NIFI, AHORCADO, APIS, DBT, DEMO, TICTACTOE, CHAT, CHUCK, PYSPARK, TERRAFORM, ML0_INTRO, ML1_REG, ML2_CLA, ML3_CLUSTERING, ML4_DIM, MLLIB, MLOPS, RN1_ANN, RN2_CNN, RN3_RNN, RN4_NLP, ESTADISTICA, entregable

kafka
  ALUMNOS/MDAA/VICENTE_MARTI/KAFKA/Captura_consumer_producer.png
  ALUMNOS/MDAA/VICENTE_MARTI/KAFKA/consumer.py
  ALUMNOS/MDAA/VICENTE_MARTI/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/VICENTE_MARTI/KAFKA/lecturas_vitales.txt
  ALUMNOS/MDAA/VICENTE_MARTI/KAFKA/productor.py
Labels: entregable

dbt
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/capturas/dbt_run.png
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/capturas/rep_payment_method_status.png
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/capturas/rep_returned_orders.png
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/data/customers.csv
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/data/orders.csv
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/data/payments.csv
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/.gitignore
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/.user.yml
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/README.md
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/analyses/.gitkeep
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/dbt_project.yml
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/macros/.gitkeep
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/models/reports/rep_payment_method_status.sql
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/models/reports/rep_returned_orders.sql
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/profiles.yml
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/seeds/.gitkeep
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/snapshots/.gitkeep
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/dbt_project/tests/.gitkeep
  ALUMNOS/MDAA/VICENTE_MARTI/DBT/docker-compose.yml
Labels: DBT, entregable

spark_e2e
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/.gitignore
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/03.Aggregations.ipynb
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/4_diy_etl.pdf
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/README.md
Labels: PYSPARK, entregable

e2e
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/e2e.ipynb
Labels: PYSPARK, entregable

GCP_ALMACENAMIETNO
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/Estructura vms.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/Instancias.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/Nueva tabla.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB BBDD.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB Conf 1.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB Conf 2.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB Conf 3.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB Conf 4.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/OPE DB User.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/Tabla 1.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/dataset conf .png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/permisos sub.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/sub larga 2.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/sub larga.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/tabla 2.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/tabla 3.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/tabla 4.png
  ALUMNOS/MDAA/VICENTE_MARTI/GCP_ALMACENAMIENTO/temas.png
Labels: entregable

AWS_ALMACENAMIENTO
  ALUMNOS/MDAB/LARA_RUBIO/AWS_ALMACENAMIENTO/conection_postgres.py
  ALUMNOS/MDAB/LARA_RUBIO/AWS_ALMACENAMIENTO/iceberg.py
  ALUMNOS/MDAB/LARA_RUBIO/AWS_ALMACENAMIENTO/redshift.py
Labels: entregable

entregables finales
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/control_vuelos.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/rds.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/requirements.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/Docker-compose.yml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/Dockerfile
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/main.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/customers.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/docker-compose.yaml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/models/rep_payment_method_status.sql
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/models/rep_returned_orders.sql
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/orders.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/payments.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/Capturas/Captura.PNG
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/consumer.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/consumer_futbolistas.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/futbolistas.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/producer.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/producer_futbolistas.py
Labels: DBT, CHUCK, entregable

Ejercicio_AWS
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

Ejercicio_GCP
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/Check1_GCP.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/Docker_helloworld.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/InstalacionDocker.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/Instancia_consola.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/delivery-events.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/docker-composeversion.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/order_events.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/GCP_IMAGENES/orders_app_VM.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/GCP_ALMACENAMIENTO/README.md
Labels: entregable

Create entregable.yaml
  ALUMNOS/MDAB/RAUL_ALGORA/APIS/entregable.yaml
Labels: APIS, entregable

entregale pyspark joaquin
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/Data/disney_plus_titles.csv
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/Docker/docker-compose.yml
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/disney-plus-analysis.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/readme.md
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_audience/._SUCCESS.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_audience/.part-00000-f372137c-bad3-4acc-aad0-2245c16d3013-c000.csv.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_audience/_SUCCESS
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_audience/part-00000-f372137c-bad3-4acc-aad0-2245c16d3013-c000.csv
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_decade/._SUCCESS.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_decade/.part-00000-7bd1f9ab-3542-4c41-9cd4-1712cc006d13-c000.csv.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_decade/_SUCCESS
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/content_by_decade/part-00000-7bd1f9ab-3542-4c41-9cd4-1712cc006d13-c000.csv
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_directors/._SUCCESS.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_directors/.part-00000-6b924ed8-d1b7-414c-b3e3-d3af522dd560-c000.csv.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_directors/_SUCCESS
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_directors/part-00000-6b924ed8-d1b7-414c-b3e3-d3af522dd560-c000.csv
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_genres/._SUCCESS.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_genres/.part-00000-86a47c08-87fd-46d9-b6a4-1c97f6d70300-c000.csv.crc
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_genres/_SUCCESS
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYSPARK/results/top_genres/part-00000-86a47c08-87fd-46d9-b6a4-1c97f6d70300-c000.csv
Labels: PYSPARK, entregable

.github/labeler.yml:

## Equivalent of the above mentioned configuration using another syntax
LINUX:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/LINUX/**','ALUMNOS/MDAB/*/LINUX/**','ALUMNOS/MIA/*/LINUX/**']

DOCKER:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DOCKER/**','ALUMNOS/MDAB/*/DOCKER/**','ALUMNOS/MIA/*/DOCKER/**']

PYTHON:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/PYTHON/**','ALUMNOS/MDAB/*/PYTHON/**','ALUMNOS/MIA/*/PYTHON/**']

SQL:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/SQL/**','ALUMNOS/MDAB/*/SQL/**','ALUMNOS/MIA/*/SQL/**']

NIFI:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/NIFI/**','ALUMNOS/MDAB/*/NIFI/**','ALUMNOS/MIA/*/NIFI/**']  

AHORCADO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/AHORCADO/**','ALUMNOS/MDAB/*/AHORCADO/**','ALUMNOS/MIA/*/AHORCADO/**']  

APIS:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/APIS/**','ALUMNOS/MDAB/*/APIS/**','ALUMNOS/MIA/*/APIS/**']  

DBT:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DBT/**','ALUMNOS/MDAB/*/DBT/**','ALUMNOS/MIA/*/DBT/**']  

DEMO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DEMO/**', 'ALUMNOS/MDAB/*/DEMO/**', 'ALUMNOS/MIA/*/DEMO/**']

TICTACTOE:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/TICTACTOE/**', 'ALUMNOS/MDAB/*/TICTACTOE/**', 'ALUMNOS/MIA/*/TICTACTOE/**']

CHAT:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/CHAT/**', 'ALUMNOS/MDAB/*/CHAT/**', 'ALUMNOS/MIA/*/CHAT/**']

CHUCK:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/CHUCK/**', 'ALUMNOS/MDAB/*/CHUCK/**', 'ALUMNOS/MIA/*/CHUCK/**']

PYSPARK:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/PYSPARK/**', 'ALUMNOS/MDAB/*/PYSPARK/**', 'ALUMNOS/MIA/*/PYSPARK/**']

TERRAFORM:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/TERRAFORM/**', 'ALUMNOS/MDAB/*/TERRAFORM/**', 'ALUMNOS/MIA/*/TERRAFORM/**']

ML0_INTRO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML0_INTRO/**', 'ALUMNOS/MDAB/*/ML0_INTRO/**', 'ALUMNOS/MIA/*/ML0_INTRO/**']
ML1_REG:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML1_REG/**', 'ALUMNOS/MDAB/*/ML1_REG/**', 'ALUMNOS/MIA/*/ML1_REG/**']
ML2_CLA:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML2_CLA/**', 'ALUMNOS/MDAB/*/ML2_CLA/**', 'ALUMNOS/MIA/*/ML2_CLA/**']
ML3_CLUSTERING:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML3_CLUSTERING/**', 'ALUMNOS/MDAB/*/ML3_CLUSTERING/**', 'ALUMNOS/MIA/*/ML3_CLUSTERING/**']
ML4_DIM:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML4_DIM/**', 'ALUMNOS/MDAB/*/ML4_DIM/**', 'ALUMNOS/MIA/*/ML4_DIM/**']
MLLIB:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/MLLIB/**', 'ALUMNOS/MDAB/*/MLLIB/**', 'ALUMNOS/MIA/*/MLLIB/**']
MLOPS:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/MLOPS/**', 'ALUMNOS/MDAB/*/MLOPS/**', 'ALUMNOS/MIA/*/MLOPS/**']
RN1_ANN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN1_ANN/**', 'ALUMNOS/MDAB/*/RN1_ANN/**', 'ALUMNOS/MIA/*/RN1_ANN/**']
RN2_CNN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN2_CNN/**', 'ALUMNOS/MDAB/*/RN2_CNN/**', 'ALUMNOS/MIA/*/RN2_CNN/**']
RN3_RNN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN3_RNN/**', 'ALUMNOS/MDAB/*/RN3_RNN/**', 'ALUMNOS/MIA/*/RN3_RNN/**']
RN4_NLP:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN4_NLP/**', 'ALUMNOS/MDAB/*/RN4_NLP/**', 'ALUMNOS/MIA/*/RN4_NLP/**']

ESTADISTICA:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ESTADISTICA/**', 'ALUMNOS/MDAB/*/ESTADISTICA/**', 'ALUMNOS/MIA/*/ESTADISTICA/**']

entregable:
- changed-files:
  - any-glob-to-any-file: 'ALUMNOS/**'
