Repository a10pepo/EDEM_MDA2425, changes with the labels that .github/labeler.yml gives for each.
All labels: LINUX, DOCKER, PYTHON, SQL, NIFI, AHORCADO, APIS, DBT, DEMO, TICTACTOE, CHAT, CHUCK, PYSPARK, TERRAFORM, ML0_INTRO, ML1_REG, ML2_CLA, ML3_CLUSTERING, ML4_DIM, MLLIB, MLOPS, RN1_ANN, RN2_CNN, RN3_RNN, RN4_NLP, ESTADISTICA, entregable

gcp_entregable
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/1.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/10.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/11.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/12.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/13.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/14.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/15.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/16.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/17.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/2.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/3.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/4.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/5.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/6.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/7.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/8.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/GCP_ALMACENAMIENTO/img/9.png
Labels: entregable

Fundamentos+chuck+kafka
  ALUMNOS/MDAA/IGNACIO_VALERO/API/sensor.yml
  ALUMNOS/MDAA/IGNACIO_VALERO/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/IGNACIO_VALERO/CHUCK/dockerfile
  ALUMNOS/MDAA/IGNACIO_VALERO/CHUCK/main.py
  ALUMNOS/MDAA/IGNACIO_VALERO/DOCKER/dockerfile
  ALUMNOS/MDAA/IGNACIO_VALERO/DOCKER/image.png
  ALUMNOS/MDAA/IGNACIO_VALERO/DOCKER/suma.py
  ALUMNOS/MDAA/IGNACIO_VALERO/KAFKA/consumer.py
  ALUMNOS/MDAA/IGNACIO_VALERO/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/IGNACIO_VALERO/KAFKA/producer.py
  ALUMNOS/MDAA/IGNACIO_VALERO/KAFKA/transferencias.txt
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion1/ejercicio1.py
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion1/ejercicio2.py
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion3/ejercicio1
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion3/ejercicio2
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion3/ejercicio3
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion4/ejercicio1
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion4/ejercicio2
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion4/ejercicio3
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/Sesion4/requirements.txt
  ALUMNOS/MDAA/IGNACIO_VALERO/PYTHON/sesion2/ejercicio1
  ALUMNOS/MDAA/IGNACIO_VALERO/SQL/Clase 1.txt
  ALUMNOS/MDAA/IGNACIO_VALERO/SQL/Clase 2.txt
  ALUMNOS/MDAA/IGNACIO_VALERO/SQL/Clase 3.txt
Labels: DOCKER, PYTHON, SQL, CHUCK, entregable

Añado Entregas
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega1/Captura de pantalla 2025-03-04 182357.png
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega1/Captura de pantalla 2025-03-04 182410.png
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega1/app.py
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega2/entregable_2.PNG
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega3/ENTREGABLE 3.PNG
  ALUMNOS/MIA/ALBERTO_GARCIA/MLOPS/Entrega3/Metaflow.ipynb
Labels: MLOPS, entregable

AWS-ALMACENAMIENTO
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/Dockerfile
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/docker-compose.yml
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/main.py
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/redshift_etl.py
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/requirements.txt
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/test.py
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/MAR/test_redshift.py
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/Screenshot 2025-05-24 at 12.44.19.png
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/Screenshot 2025-05-24 at 12.48.48.png
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/Screenshot 2025-05-24 at 12.49.42.png
  ALUMNOS/MDAA/MAR_SOLER/AWS-ALMACENAMIENTO/Screenshot 2025-05-24 at 13.43.01.png
Labels: entregable

rename_folder
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/Dockerfile
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/docker-compose.yml
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/main.py
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/redshift_etl.py
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/requirements.txt
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/test.py
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/MAR/test_redshift.py
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/Screenshot 2025-05-24 at 12.44.19.png
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/Screenshot 2025-05-24 at 12.48.48.png
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/Screenshot 2025-05-24 at 12.49.42.png
  ALUMNOS/MDAA/MAR_SOLER/AWS_ALMACENAMIENTO/Screenshot 2025-05-24 at 13.43.01.png
Labels: entregable

entregtable gcp almacenamiento
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.05.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.12.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.18.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.39.57.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.40.55.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.42.02.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.43.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.49.49.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.06.42.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.06.47.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.08.38.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.40.41.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.11.53.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.12.18.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.20.19.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.23.11.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.23.24.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.29.11.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.35.50.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.46.47.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.47.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.53.53.png
Labels: entregable

api ejemplo
  ALUMNOS/MDAA/MAR_SOLER/APIS/openapi.yaml
Labels: APIS, entregable

dbt-screenshots
  ALUMNOS/MDAA/MAR_SOLER/DBT/query-rep_payment_method_status.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/query-rep_returned_orders.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/result-rep_payment_method_status.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/result-rep_returned_orders.png
Labels: DBT, entregable

end2end
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/README.docx
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 2.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 3.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 4.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 5.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 6.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy 7.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image copy.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP-END2END/image.png
Labels: entregable

change file name
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/README.docx
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 2.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 3.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 4.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 5.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 6.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy 7.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image copy.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_End2End/image.png
Labels: entregable

change
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/README.docx
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 2.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 3.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 4.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 5.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 6.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 7.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image.png
Labels: entregable

updated to markdown
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/e2e_Miguel_GCP.md
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_10_1.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_10_2.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_11.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_12.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_13.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_14.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_15.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_16.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_17.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_18.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_1_1.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_1_2.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_2.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_3.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_4.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_5.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_6.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_7_1.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_7_2.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_8.png
  ALUMNOS/MDAB/MARC_CANTERO/GCP_ALMACENAMIENTO/images/image_9.png
Labels: entregable

GCP_ALMACENAMIENTO
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.31.15.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.57.24.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.08.41.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.12.23.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.16.21.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.18.25.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.32.31.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 0.36.39.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 11.50.30.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 12.23.31.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 8.37.08.png
Labels: APIS, entregable

Entregable
  ALUMNOS/MIA/IGNACIO_MARTINEZ/RN4_NLP/RN4_NLP.ipynb
  ALUMNOS/MIA/IGNACIO_MARTINEZ/RN4_NLP/vocabulario.txt.txt
Labels: RN4_NLP, entregable

FUNDAMENTOS
  ALUMNOS/MDAA/IGNACIO_VALERO/nosql/edem-mda-data-ingestion-and-nosql/ALUMNOS/MDAA/IGNACIO_VALERO/API/sensor.yml
Labels: entregable

FUNDAMENTOS
  ALUMNOS/MDAA/IGNACIO_VALERO/APIS/sensor.yml
Labels: APIS, entregable

Arreglo
  ALUMNOS/MDAA/IGNACIO_VALERO/nosql/edem-mda-data-ingestion-and-nosql/ALUMNOS/MDAA/IGNACIO_VALERO/API/sensor.yml
Labels: entregable

GCP
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 112448.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 112835.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 113409.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 113826.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 114038.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 114149.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 114659.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 114819.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 115238.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 115322.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 120437.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 130630.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 130639.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 131311.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 132334.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 134643.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 134927.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 135115.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 135519.png
  ALUMNOS/MDAA/IGNACIO_VALERO/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 135611.png
Labels: entregable

Add OpenAPI specification for Robot Temperature Sensor API
  ALUMNOS/MDAB/FABIAN_MIULESCU/APIS/openapi.yaml
Labels: APIS, entregable

Add Kafka setup and data processing scripts
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/consumer.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/docker-compose.yaml
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/producer.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/queries.sql
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/requirements.txt
  ALUMNOS/MDAB/FABIAN_MIULESCU/KAFKA/temp_ksql_queries.sh
Labels: entregable

Add initial implementation for AWS data pipeline with PostgreSQL and Redshift integration
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/.gitignore
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/dockerfile
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/requirements.txt
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/config/settings.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/db/create_tables.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/db/models.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/extract/from_postgres.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/load/load_postgres.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/load/to_iceberg.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/load/to_redshift.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AWS_ALMACENAMIENTO/src/utils/logger.py
Labels: entregable

Add PySpark project with MySQL integration, including Docker setup and data processing scripts
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/docker/docker-compose.yml
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/jar/mysql-connector.jar
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/resources/README.md
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/resources/orders.csv
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/resources/users.csv
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/src/python/main.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYSPARK/project/src/python/requirements.txt
Labels: PYSPARK, entregable

Organización
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.31.15.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.57.24.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.08.41.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.12.23.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.16.21.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.18.25.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.32.31.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 0.36.39.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 11.50.30.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 12.23.31.png
  ALUMNOS/MDAA/ALEX_REVERT/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 8.37.08.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/DBT/jaffle_shop/logs/dbt.log
Labels: DBT, entregable

fundamentos
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/dockerfile
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/get-pip.py
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/palabras.txt
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/palabras2.txt
  ALUMNOS/MDAA/VICENTE_MARTI/PYTHON/main.py
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/docker-compose.yml
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/dockerfile
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/gamer.py
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/readme.md
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/requirements.txt
Labels: PYTHON, AHORCADO, TICTACTOE, entregable

Ajustes
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/gamer.py
Labels: TICTACTOE, entregable

sql
  ALUMNOS/MDAA/VICENTE_MARTI/SQL/Clases.sql
Labels: SQL, entregable

First exercise
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 1/Captura.JPG
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 1/app.py
Labels: MLOPS, entregable

Exercise 2
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 2/mlflow-hiperparameters.png
Labels: MLOPS, entregable

Exercise 3
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/Captura.JPG
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/Dockerfile
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/ejecutar.bat
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/metaflow-model-training.ipynb
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/metaflow_trainingflow.py
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/requirements.txt
Labels: MLOPS, entregable

Entregable AWS
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/iceberg_create_insert.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/1-Database.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/2-RDS.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/3-Deaver.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/4-Redshift.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/5-Redshift_query_editor.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/6-Iceberg.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/7-Bucket.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/8-Tablas_glue.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/9-Athena.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/prueba.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/rds.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

ejercicio chuck
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/dockerfile
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/main.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/template.xml
Labels: CHUCK, entregable

ML1_REG
  ALUMNOS/MIA/JAIRO_NAVARRO/ML1_REG/01_Regression.ipynb
  ALUMNOS/MIA/JAIRO_NAVARRO/ML1_REG/02_LinearRegressionImplementation.ipynb
  ALUMNOS/MIA/JAIRO_NAVARRO/ML1_REG/insurance.csv
Labels: ML1_REG, entregable

ML3_CLUSTERING
  ALUMNOS/MIA/JAIRO_NAVARRO/ML3_CLUSTERING/clustering.ipynb
  ALUMNOS/MIA/JAIRO_NAVARRO/ML3_CLUSTERING/sample_submission.csv
  ALUMNOS/MIA/JAIRO_NAVARRO/ML3_CLUSTERING/test.csv
Labels: ML3_CLUSTERING, entregable

Kafka
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/consumer.py
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/dockercompose.yml
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/movimientos.txt
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/producer.py
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/requirements.txt
Labels: entregable

dp2_cnns
  ALUMNOS/MIA/CARLOS_PORTILLA/CNN/Deliverable_CNN.ipynb
Labels: entregable

nombre_bien
  ALUMNOS/MIA/CARLOS_PORTILLA/RN2_CNN/Deliverable_CNN.ipynb
Labels: RN2_CNN, entregable

regresion
  ALUMNOS/MIA/CARLOS_PORTILLA/ML1_REG/01_Regression.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/ML1_REG/02_LinearRegressionImplementation.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/ML1_REG/insurance.csv
Labels: ML1_REG, entregable

clustering
  ALUMNOS/MIA/CARLOS_PORTILLA/ML3_CLUSTERING/clustering.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/ML3_CLUSTERING/train.csv
Labels: ML3_CLUSTERING, entregable

Entrega tarea AWS Almacenamiento
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/el_lakehouse.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/el_redshift.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/requirements.txt
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/schema.sql
Labels: entregable

AWS_Almacenamiento
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AWS_ALMACENAMIENTO/iceberg_create_insert_copy.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AWS_ALMACENAMIENTO/jacinto_postgres2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

.github/labeler.yml:

## Equivalent of the above mentioned configuration using another syntax
LINUX:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/LINUX/**','ALUMNOS/MDAB/*/LINUX/**','ALUMNOS/MIA/*/LINUX/**']

DOCKER:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DOCKER/**','ALUMNOS/MDAB/*/DOCKER/**','ALUMNOS/MIA/*/DOCKER/**']

PYTHON:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/PYTHON/**','ALUMNOS/MDAB/*/PYTHON/**','ALUMNOS/MIA/*/PYTHON/**']

SQL:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/SQL/**','ALUMNOS/MDAB/*/SQL/**','ALUMNOS/MIA/*/SQL/**']

NIFI:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/NIFI/**','ALUMNOS/MDAB/*/NIFI/**','ALUMNOS/MIA/*/NIFI/**']  

AHORCADO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/AHORCADO/**','ALUMNOS/MDAB/*/AHORCADO/**','ALUMNOS/MIA/*/AHORCADO/**']  

APIS:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/APIS/**','ALUMNOS/MDAB/*/APIS/**','ALUMNOS/MIA/*/APIS/**']  

DBT:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DBT/**','ALUMNOS/MDAB/*/DBT/**','ALUMNOS/MIA/*/DBT/**']  

DEMO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/DEMO/**', 'ALUMNOS/MDAB/*/DEMO/**', 'ALUMNOS/MIA/*/DEMO/**']

TICTACTOE:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/TICTACTOE/**', 'ALUMNOS/MDAB/*/TICTACTOE/**', 'ALUMNOS/MIA/*/TICTACTOE/**']

CHAT:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/CHAT/**', 'ALUMNOS/MDAB/*/CHAT/**', 'ALUMNOS/MIA/*/CHAT/**']

CHUCK:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/CHUCK/**', 'ALUMNOS/MDAB/*/CHUCK/**', 'ALUMNOS/MIA/*/CHUCK/**']

PYSPARK:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/PYSPARK/**', 'ALUMNOS/MDAB/*/PYSPARK/**', 'ALUMNOS/MIA/*/PYSPARK/**']

TERRAFORM:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/TERRAFORM/**', 'ALUMNOS/MDAB/*/TERRAFORM/**', 'ALUMNOS/MIA/*/TERRAFORM/**']

ML0_INTRO:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML0_INTRO/**', 'ALUMNOS/MDAB/*/ML0_INTRO/**', 'ALUMNOS/MIA/*/ML0_INTRO/**']
ML1_REG:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML1_REG/**', 'ALUMNOS/MDAB/*/ML1_REG/**', 'ALUMNOS/MIA/*/ML1_REG/**']
ML2_CLA:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML2_CLA/**', 'ALUMNOS/MDAB/*/ML2_CLA/**', 'ALUMNOS/MIA/*/ML2_CLA/**']
ML3_CLUSTERING:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML3_CLUSTERING/**', 'ALUMNOS/MDAB/*/ML3_CLUSTERING/**', 'ALUMNOS/MIA/*/ML3_CLUSTERING/**']
ML4_DIM:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ML4_DIM/**', 'ALUMNOS/MDAB/*/ML4_DIM/**', 'ALUMNOS/MIA/*/ML4_DIM/**']
MLLIB:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/MLLIB/**', 'ALUMNOS/MDAB/*/MLLIB/**', 'ALUMNOS/MIA/*/MLLIB/**']
MLOPS:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/MLOPS/**', 'ALUMNOS/MDAB/*/MLOPS/**', 'ALUMNOS/MIA/*/MLOPS/**']
RN1_ANN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN1_ANN/**', 'ALUMNOS/MDAB/*/RN1_ANN/**', 'ALUMNOS/MIA/*/RN1_ANN/**']
RN2_CNN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN2_CNN/**', 'ALUMNOS/MDAB/*/RN2_CNN/**', 'ALUMNOS/MIA/*/RN2_CNN/**']
RN3_RNN:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN3_RNN/**', 'ALUMNOS/MDAB/*/RN3_RNN/**', 'ALUMNOS/MIA/*/RN3_RNN/**']
RN4_NLP:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/RN4_NLP/**', 'ALUMNOS/MDAB/*/RN4_NLP/**', 'ALUMNOS/MIA/*/RN4_NLP/**']

ESTADISTICA:
- changed-files:
  - any-glob-to-any-file: ['ALUMNOS/MDAA/*/ESTADISTICA/**', 'ALUMNOS/MDAB/*/ESTADISTICA/**', 'ALUMNOS/MIA/*/ESTADISTICA/**']

entregable:
- changed-files:
  - any-glob-to-any-file: 'ALUMNOS/**'
