Repository a10pepo/EDEM_MDA2425, pull requests merged in 2024-11, with the labels that each got.

#303 e2e-ahorcado-cokecancook
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/ahorcado.ipynb
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/ahorcado.py
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#301 SESION E2E - Módulo 0
  PROFESORES/AHORCADO/Dockerfile
  PROFESORES/AHORCADO/ahorcado.py
  PROFESORES/AHORCADO/docker-compose.yml
  PROFESORES/AHORCADO/palabras.txt
Labels: AHORCADO

#300 E2e ahorcado fab1an12
  ALUMNOS/MDAB/FABIAN_MIULESCU/AHORCADO/Docker-Compose.yml
  ALUMNOS/MDAB/FABIAN_MIULESCU/AHORCADO/Dockerfile
  ALUMNOS/MDAB/FABIAN_MIULESCU/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#299 Fase 1-JMontoliu
  ALUMNOS/MDAB/JUAN_MONTOLIU/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/JUAN_MONTOLIU/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#298 Fase 1
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#296 Folder created and exercise uploaded
  ALUMNOS/MDAB/LARA_RUBIO/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/LARA_RUBIO/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#295 Folder and activity
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AHORCADO/Ahorcado.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#294 E2e ahorcado jobarbru
  ALUMNOS/MIA/PEPE_BARBERO/AHORCADO/Ahorcado.py
  ALUMNOS/MIA/PEPE_BARBERO/AHORCADO/README.md
  ALUMNOS/MIA/PEPE_BARBERO/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/PEPE_BARBERO/AHORCADO/dockerfile
  ALUMNOS/MIA/PEPE_BARBERO/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#292 ahorcado
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#293 Ahorcado
  ALUMNOS/MIA/IGNACIO_MARTINEZ/AHORCADO/ahorcado.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/AHORCADO/dockerfile
Labels: entregable, AHORCADO

#291 e2e-ahorcado-Marcanta7
  ALUMNOS/MDAB/MARC_CANTERO/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/MARC_CANTERO/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#290 AHORCADO
  ALUMNOS/MIA/Eduardo_Abad/AHORCADO/ahorcado1.py
  ALUMNOS/MIA/Eduardo_Abad/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#284 paujorques02-ahorcado
  ALUMNOS/MIA/PAU_JORQUES/AHORCADO/Dockerfile
  ALUMNOS/MIA/PAU_JORQUES/AHORCADO/ahorcado.py
  ALUMNOS/MIA/PAU_JORQUES/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/PAU_JORQUES/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#286 subo ahorcado.py
  ALUMNOS/MIA/PABLO_ARNAU/AHORCADO/ahorcado.py
  ALUMNOS/MIA/PABLO_ARNAU/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#285 AHORCADO
  ALUMNOS/MIA/JAIRO_NAVARRO/AHORCADO/Ahorcado.py
  ALUMNOS/MIA/JAIRO_NAVARRO/AHORCADO/dockerfile
Labels: entregable, AHORCADO

#287 Ahorcado joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/AHORCADO/Proyecto_Ahorcado/README.md
  ALUMNOS/MDAB/JOEL_SEGUI/AHORCADO/Proyecto_Ahorcado/ahorcado.py
  ALUMNOS/MDAB/JOEL_SEGUI/AHORCADO/Proyecto_Ahorcado/dockerfile
  ALUMNOS/MDAB/JOEL_SEGUI/AHORCADO/Proyecto_Ahorcado/palabras.txt
Labels: entregable, AHORCADO

#289 Alejbc27 - Ahorcado-Fase_1
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AHORCADO/dockerfile
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#269 entrega_sql
  ALUMNOS/MDAB/CARLOS_OLIVER/SQL/querys.txt
Labels: entregable, SQL

#313 E2e ahorcado anpiboi
  ALUMNOS/MIA/ANDREU_PICORNELL/AHORCADO/Dockerfile
  ALUMNOS/MIA/ANDREU_PICORNELL/AHORCADO/ahorcado.py
  ALUMNOS/MIA/ANDREU_PICORNELL/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/ANDREU_PICORNELL/AHORCADO/palabras.txt
  ALUMNOS/MIA/ANDREU_PICORNELL/AHORCADO/requirements.txt
Labels: entregable, AHORCADO

#316 AHORCADO
  ALUMNOS/MDAB/RAUL_ALGORA/AHORCADO/Docker-compose.yml
  ALUMNOS/MDAB/RAUL_ALGORA/AHORCADO/Dockerfile
  ALUMNOS/MDAB/RAUL_ALGORA/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/RAUL_ALGORA/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#317 ETE-CARLOSOO
  ALUMNOS/MDAB/CARLOS_OLIVER/AHORCADO/ETE/main.py
  ALUMNOS/MDAB/CARLOS_OLIVER/AHORCADO/ETE/palabras.txt
  ALUMNOS/MDAB/CARLOS_OLIVER/AHORCADO/dockerfile
Labels: entregable, AHORCADO

#334 subo ejercicio docker
  ALUMNOS/MIA/PABLO_ARNAU/DOCKER/Captura.PNG
  ALUMNOS/MIA/PABLO_ARNAU/DOCKER/Dockerfile
  ALUMNOS/MIA/PABLO_ARNAU/DOCKER/sumar.py
Labels: entregable, DOCKER

#333 Anpiboi docker
  ALUMNOS/MIA/ANDREU_PICORNELL/DOCKER/Captura.PNG
  ALUMNOS/MIA/ANDREU_PICORNELL/DOCKER/Dockerfile
  ALUMNOS/MIA/ANDREU_PICORNELL/DOCKER/link.txt
  ALUMNOS/MIA/ANDREU_PICORNELL/DOCKER/pysum.py
Labels: entregable, DOCKER

#332 Entrega Docker
  ALUMNOS/MIA/PABLO_ESTEBAN/DOCKER/Dockerfile
  ALUMNOS/MIA/PABLO_ESTEBAN/DOCKER/screenshot.png
  ALUMNOS/MIA/PABLO_ESTEBAN/DOCKER/script.py
Labels: entregable, DOCKER

#326 entregable final DOCKER
  ALUMNOS/MDAB/TING_WANG/DOCKER/dockerfile
  ALUMNOS/MDAB/TING_WANG/DOCKER/invocación2.jpg
  ALUMNOS/MDAB/TING_WANG/DOCKER/link-dockerhub.txt
  ALUMNOS/MDAB/TING_WANG/DOCKER/suma.py
Labels: entregable, DOCKER

#281 Entregable docker joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/DOCKER/Entregable Docker/Código_resultado.png
  ALUMNOS/MDAB/JOEL_SEGUI/DOCKER/Entregable Docker/DockerHub_code.png
  ALUMNOS/MDAB/JOEL_SEGUI/DOCKER/Entregable Docker/URL_DockerHub_joel1091.txt
  ALUMNOS/MDAB/JOEL_SEGUI/DOCKER/Entregable Docker/dockerfile
  ALUMNOS/MDAB/JOEL_SEGUI/DOCKER/Entregable Docker/script.py
Labels: entregable, DOCKER

#259 paujorques02 tarea docker
  ALUMNOS/MIA/PAU_JORQUES/DOCKER/captura.png
  ALUMNOS/MIA/PAU_JORQUES/DOCKER/dockerfile
  ALUMNOS/MIA/PAU_JORQUES/DOCKER/suma.py
Labels: entregable, DOCKER

#340 E2e ahorcado gonzalo22112001
  ALUMNOS/MIA/GONZALO_LOPEZ/AHORCADO/ahorcadoGonzalo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/GONZALO_LOPEZ/AHORCADO/dockerfile
  ALUMNOS/MIA/GONZALO_LOPEZ/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#324 apuntes y ejercicios hechos en clase
  ALUMNOS/MDAB/VALENTIN_VECHER/SQL/film_clase_d1.sql
  ALUMNOS/MDAB/VALENTIN_VECHER/SQL/film_clase_d2.sql
Labels: entregable, SQL

#342 Entregable Docker Valenvgon
  ALUMNOS/MDAB/VALENTIN_VECHER/DOCKER/Entregable-docker.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DOCKER/dockerfile
  ALUMNOS/MDAB/VALENTIN_VECHER/DOCKER/link.txt
  ALUMNOS/MDAB/VALENTIN_VECHER/DOCKER/script01.py
Labels: entregable, DOCKER

#276 cokecancook/docker
  ALUMNOS/MIA/COKE_STUYCK/DOCKER/Dockerfile
  ALUMNOS/MIA/COKE_STUYCK/DOCKER/README.md
  ALUMNOS/MIA/COKE_STUYCK/DOCKER/screenshots/dockerhub.png
  ALUMNOS/MIA/COKE_STUYCK/DOCKER/screenshots/local.png
  ALUMNOS/MIA/COKE_STUYCK/DOCKER/script/sum_two_numbers.py
Labels: entregable, DOCKER

#351 Entregable_Docker
  ALUMNOS/MDAB/FABIAN_MIULESCU/DOCKER/Dockerfile
  ALUMNOS/MDAB/FABIAN_MIULESCU/DOCKER/comandos.txt
  ALUMNOS/MDAB/FABIAN_MIULESCU/DOCKER/main.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/DOCKER/screenshot.png
Labels: entregable, DOCKER

#350 DOCKER
  ALUMNOS/MDAA/JOAN_GILABERT/DOCKER/DOCKER.png
  ALUMNOS/MDAA/JOAN_GILABERT/DOCKER/Dockerfile
  ALUMNOS/MDAA/JOAN_GILABERT/DOCKER/suma.py
Labels: entregable, DOCKER

#341 EjercicioDockerGonzalo
  ALUMNOS/MIA/GONZALO_LOPEZ/DOCKER/Captura de pantalla 2024-11-16 145003.png
  ALUMNOS/MIA/GONZALO_LOPEZ/DOCKER/dockerfile
  ALUMNOS/MIA/GONZALO_LOPEZ/DOCKER/link.txt
  ALUMNOS/MIA/GONZALO_LOPEZ/DOCKER/sumar.py
Labels: entregable, DOCKER

#356 Entregable Docker
  ALUMNOS/MDAB/JUAN_MONTOLIU/DOCKER/Captura de pantalla 2024-11-20 a las 12.16.10.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/DOCKER/README.md
  ALUMNOS/MDAB/JUAN_MONTOLIU/DOCKER/dockerfile
  ALUMNOS/MDAB/JUAN_MONTOLIU/DOCKER/sum.py
Labels: entregable, DOCKER

#354 entrega docker
  ALUMNOS/MIA/JORGE_MOLTO/DOCKER/dockerfile
  ALUMNOS/MIA/JORGE_MOLTO/DOCKER/ejecucion.png
  ALUMNOS/MIA/JORGE_MOLTO/DOCKER/suma.py
Labels: entregable, DOCKER

#346 Docker entregable
  ALUMNOS/MDAA/ANTONI_MOLLA/DOCKER/Capturas/Captura de pantalla 2024-11-13 a las 17.41.19.png
  ALUMNOS/MDAA/ANTONI_MOLLA/DOCKER/Capturas/Captura de pantalla 2024-11-13 a las 17.41.26.png
  ALUMNOS/MDAA/ANTONI_MOLLA/DOCKER/Dockerfile
  ALUMNOS/MDAA/ANTONI_MOLLA/DOCKER/README.md
  ALUMNOS/MDAA/ANTONI_MOLLA/DOCKER/script.py
Labels: entregable, DOCKER

#321 DEMO
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DEMO/.gitkeep
Labels: entregable

#374 E2E Chuck (hasta SQL)
  ALUMNOS/MDAB/TING_WANG/CHUCK/chuck_mongo.xml
  ALUMNOS/MDAB/TING_WANG/CHUCK/data-1732387945273.csv
  ALUMNOS/MDAB/TING_WANG/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/TING_WANG/CHUCK/proyecto.py
  ALUMNOS/MDAB/TING_WANG/CHUCK/query_chuck.sql
  ALUMNOS/MDAB/TING_WANG/CHUCK/tableau_chuck.twb
Labels: entregable

#370 E2e ahorcado migueltocu
  ALUMNOS/MDAA/MIGUEL_TORRES/AHORCADO/Docker-compose.yml
  ALUMNOS/MDAA/MIGUEL_TORRES/AHORCADO/Dockerfile
  ALUMNOS/MDAA/MIGUEL_TORRES/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AHORCADO/palabras.txt
Labels: entregable, AHORCADO
