Repository a10pepo/EDEM_MDA2425, pull requests merged in 2024-10, with the labels that each got.

#55 Demo algami
  ALUMNOS/MIA/ALBERTO_GARCIA/.gitkeep
  ALUMNOS/MIA/ALBERTO_GARCIA/README.md
Labels: WIP

#254 add labeler
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/pr_check.yaml
  ALUMNOS/MDAA/PEDRO_NIETO/LINUX/README.md
Labels: entregable, LINUX

#262 entregable linux
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/LINUX/README.md
Labels: entregable, LINUX

#258 Linux_capor
  ALUMNOS/MIA/CARLOS_PORTILLA/LINUX/README.md
Labels: entregable, LINUX

#270 Sesion 1 y 2 sql joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/SQL/sesion_01/clase01_SQL_joel1091.txt
  ALUMNOS/MDAB/JOEL_SEGUI/SQL/sesion_02/clase02_SQL_joel1091.txt
Labels: entregable, SQL

#271 SESION_01_SQL
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/SQL/SESION_01_SQL.md
Labels: entregable, SQL

#275 primera sesión sql
  ALUMNOS/MIA/PABLO_ARNAU/SQL/clase1_sql.txt
Labels: entregable, SQL

#280 Clase1_SQL_jobarbr
  ALUMNOS/MIA/JOSE_BARBERO/README.md
  ALUMNOS/MIA/PEPE_BARBERO/LINUX/LINUX.md
  ALUMNOS/MIA/PEPE_BARBERO/SQL/Clase1.txt
Labels: entregable, LINUX, SQL
