Repository a10pepo/EDEM_MDA2425, pull requests merged in 2024-12, with the labels that each got.

#396 Etntrega Chuck
  ALUMNOS/MDAB/FABIAN_MIULESCU/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/FABIAN_MIULESCU/CHUCK/script.py
Labels: entregable

#386 e-wach/AHORCADO
  ALUMNOS/MDAB/TING_WANG/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/TING_WANG/AHORCADO/data-1732635844143.csv
  ALUMNOS/MDAB/TING_WANG/AHORCADO/docker-compose.yml
  ALUMNOS/MDAB/TING_WANG/AHORCADO/dockerfile
  ALUMNOS/MDAB/TING_WANG/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#418 Tictactoe joangs12
  ALUMNOS/MDAA/JOAN_GILABERT/TICTACTOE/Dockerfile
  ALUMNOS/MDAA/JOAN_GILABERT/TICTACTOE/README.md
  ALUMNOS/MDAA/JOAN_GILABERT/TICTACTOE/docker-compose.yml
  ALUMNOS/MDAA/JOAN_GILABERT/TICTACTOE/game.py
  ALUMNOS/MDAA/JOAN_GILABERT/TICTACTOE/requirements.txt
Labels: entregable

#422 actividad extra tictactoe
  ALUMNOS/MDAB/VALENTIN_VECHER/TICTACTOE/Dockerfile
  ALUMNOS/MDAB/VALENTIN_VECHER/TICTACTOE/README.md
  ALUMNOS/MDAB/VALENTIN_VECHER/TICTACTOE/docker-compose.yaml
  ALUMNOS/MDAB/VALENTIN_VECHER/TICTACTOE/game.py
  ALUMNOS/MDAB/VALENTIN_VECHER/TICTACTOE/requirements.txt
Labels: entregable

#392 Alejandro colision
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AHORCADO/dockerfile
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AHORCADO/palabras.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/README.md
  README.md
Labels: entregable, AHORCADO

#380 AHORCADO
  ALUMNOS/MDAA/JOAN_GILABERT/AHORCADO/Dockerfile
  ALUMNOS/MDAA/JOAN_GILABERT/AHORCADO/README.md
  ALUMNOS/MDAA/JOAN_GILABERT/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/JOAN_GILABERT/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/JOAN_GILABERT/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#385 Ejercicio del Ahorcado
  ALUMNOS/MDAA/ALEX_REVERT/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/ALEX_REVERT/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/ALEX_REVERT/AHORCADO/dockerfile
  ALUMNOS/MDAA/ALEX_REVERT/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#204 Ejercicio linux
  ALUMNOS/MDAB/RAUL_ALGORA/LINUX/EJERCICIO 1 DE LINUX
Labels: entregable, LINUX

#395 cokecancook/tictactoe
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/Dockerfile
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/README.md
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/docker-compose.yaml
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/functions.py
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/game.py
  ALUMNOS/MIA/COKE_STUYCK/TICTACTOE/requirements.txt
Labels: entregable

#362 TAREA_CHUCK
  ALUMNOS/MDAB/RAUL_ALGORA/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/RAUL_ALGORA/CHUCK/python.py
Labels: entregable

#360 chuck
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/CHUCK/script.py
Labels: entregable

#361 tarea_chuck_valenvgon
  ALUMNOS/MDAB/VALENTIN_VECHER/CHUCK/README.md
  ALUMNOS/MDAB/VALENTIN_VECHER/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/VALENTIN_VECHER/CHUCK/script.py
Labels: entregable

#266 SQL -sesion 1
  ALUMNOS/MDAB/TING_WANG/SQL/sesion1.sql
  ALUMNOS/MDAB/TING_WANG/SQL/sesion2.sql
Labels: entregable, SQL

#255 Entregables Python
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_1/entregable1.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_2/entregable2.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_3/entregable3-1.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_3/entregable3bisiesto.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_3/entregable3primo.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_4/entregable4a.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_4/entregable4b/entregable4c.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_4/entregable4b/requirements.txt
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_5/entregable52.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/SESIÓN_5/entregable53.py
Labels: entregable, PYTHON

#323 Entregables sesiones y proyecto final
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Proyecto_final/Proyecto_final.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/ejercicio_1.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/ejercicio_2.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/ejercicio_2.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/ejercicio_3.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/pokemon_data.csv
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesion_5/requirements.txt
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_1/Ejercicio_1/Archivo_ej1.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_1/Ejercicio_2/Archivo_ej2.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_2/Archivo_ej.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_3/Ejercicio_1.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_3/Ejercicio_2.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_3/Ejercicio_3.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_3/ejercicio2.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_4/Ejercicio_1.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_4/Ejercicio_3.ipynb
  ALUMNOS/MDAB/VALENTIN_VECHER/PYTHON/Sesión_4/requirements.txt
Labels: entregable, PYTHON

#315 Proyecto Final Python joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Proyecto_Final_Python/functions.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Proyecto_Final_Python/main.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Proyecto_Final_Python/requirements.txt
Labels: entregable, PYTHON

#278 Entregables python joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_01/Ejercicio 1/Ejercicios_sesion_1.1.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_01/Ejercicio 2/Ejercicios_sesion_1.2.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_02/Ejercicio 1/Ejercicios_sesion_2.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_03/Ejercicio 1/Ejercicios_sesion_3.1.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_03/Ejercicio 2/Ejercicios_sesion_3.2.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_03/Ejercicio 3/Ejercicios_sesion_3.3.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_04/Ejercicio 1/Ejercicios_sesion_4.1.1.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_04/Ejercicio 1/Ejercicios_sesion_4.1.2.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_04/Ejercicio 1/Ejercicios_sesion_4.1.3.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_04/Ejercicio 2/Plantilla_4.2/requirements.txt
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_04/Ejercicio 3/Ejercicios_sesion_4.3.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_05/Ejercicio 1/Ejercicios_sesion_5.1.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_05/Ejercicio 1/pokemon_data.csv
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_05/Ejercicio 1/requirements.txt
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_05/Ejercicio 2/Ejercicios_sesion_5.2.py
  ALUMNOS/MDAB/JOEL_SEGUI/PYTHON/Entregables/Sesión_05/Ejercicio 3/Ejercicios_sesion_5.3.py
Labels: entregable, PYTHON

#261 Entregables + Proyecto Final
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Proyecto_Final/proyecto_final.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion1/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion1/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion2/Ejercicio/Ejercicio.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion3/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion3/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion3/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion4/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion4/Ejercicio2/requirements.txt
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion4/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion5/Ejercicio1/Data/pokemon_data.csv
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion5/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion5/Ejercicio2y3/Ejercicio2.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/PYTHON/Sesion5/Ejercicio2y3/Ejercicio3.py
Labels: entregable, PYTHON

#273 SQL_Sesion_1
  ALUMNOS/MDAB/CLAUDIA_ROMERO/SQL/Sesion_1.sql
Labels: entregable, SQL

#319 Entregables + Proyecto Final
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_1/sesion_1_ejercicio.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_2/sesion_2_ejercicio.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_3/sesion_3_ejercicio_1.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_3/sesion_3_ejercicio_2.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_3/sesion_3_ejercicio_3.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/SESION_4_EJERCICIO_2/main.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/SESION_4_EJERCICIO_2/requirements.txt
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/sesion_4_ejercicio-4_1.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/sesion_4_ejercicio-4_2.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/sesion_4_ejercicio-4_3.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_4/sesion_4_ejercicio_3.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_5/pokemon_data.csv
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_5/sesion_5_ejercicio_1.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_5/sesion_5_ejercicio_2.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/ENTREGABLES/SESION_5/sesion_5_ejercicio_3.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYTHON/PROYECTO_FINAL/proyecto_final.py
Labels: entregable, PYTHON

#444 entregable de ahorcado
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/Dockerfile
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/README.md
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/ahorcado.py
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/docker-compose.yml
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/entrypoint.sh
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/palabras.txt
  ALUMNOS/MDAB/VALENTIN_VECHER/AHORCADO/requirements.txt
Labels: entregable, AHORCADO

#371 E2e ahorcado jbessini
  ALUMNOS/MDAA/JUAN_BESSINI/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/JUAN_BESSINI/AHORCADO/dockerfile
  ALUMNOS/MDAA/JUAN_BESSINI/AHORCADO/palabras.txt
  ALUMNOS/MDAA/JUAN_BESSINI/AHORCADO/python_ahorcado.py
Labels: entregable, AHORCADO

#446 E2E_chuck_completed
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/Nifi01.xml
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/README.md
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/dockerfile
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/requirements.txt
  ALUMNOS/MDAB/JOEL_SEGUI/CHUCK/script.py
Labels: entregable

#442 entrega de dbt
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_payment/Captura de pantalla 2024-12-19 a las 18.18.29.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_payment/Captura de pantalla 2024-12-19 a las 18.21.09.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_payment/Captura de pantalla 2024-12-19 a las 18.21.18.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_payment/rep_payment_method_status.sql
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_returned/Captura de pantalla 2024-12-19 a las 18.20.26.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_returned/Captura de pantalla 2024-12-19 a las 18.20.37.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_returned/Captura de pantalla 2024-12-19 a las 18.20.56.png
  ALUMNOS/MDAB/VALENTIN_VECHER/DBT/rep_returned/rep_returned_orders.sql
Labels: entregable, DBT

#441 entrega-dbt
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_orders_returned_exercise/rep_returned_orders.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_orders_returned_exercise/rep_returned_orders.sql
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_orders_returned_exercise/rep_returned_orders_pgadmin.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_payment_method_status_exercise/rep_payment_method_pgadmin.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_payment_method_status_exercise/rep_payment_method_status.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/DBT/rep_payment_method_status_exercise/rep_payment_method_status.sql
Labels: entregable, DBT

#420 estadistica y ahorcado
  ALUMNOS/MIA/CARLOS_PORTILLA/AHORCADO/ahorcado.py
  ALUMNOS/MIA/CARLOS_PORTILLA/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/CARLOS_PORTILLA/AHORCADO/dockerfile
  ALUMNOS/MIA/CARLOS_PORTILLA/AHORCADO/palabras.txt
  ALUMNOS/MIA/CARLOS_PORTILLA/ESTADISTICA/informe_coches_indios.ipynb
Labels: entregable, AHORCADO, ESTADISTICA

#344 Ejercicio 3 python Marta Miró
  ALUMNOS/MDAA/MARTA_MIRO/PYTHON/Ejercicio3MartaMiro.py
Labels: entregable, PYTHON

#336 Create proyecto-final.py
  ALUMNOS/MIA/MAURO_BALAGUER/PYTHON/proyecto-final.py
Labels: entregable, PYTHON

#329 Anpiboi python
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Final Project/alumno.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Final Project/gestor_alumnos.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Final Project/main.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 1/session_1_1.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 1/session_1_2.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 2/session_2_1.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 3/session_3_1.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 3/session_3_2.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 3/session_3_3.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 4/requirements.txt
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 4/session_4_1.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 4/session_4_3.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 5/session_5_1.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 5/session_5_2.py
  ALUMNOS/MIA/ANDREU_PICORNELL/PYTHON/Session 5/session_5_3.py
Labels: entregable, PYTHON

#314 PYTHON
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable1/entregable1.py
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable2/entregable2.py
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable3/entregable3.py
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable4/entregable4.py
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable4/requirements.txt
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable5/entregable5.py
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/entregable5/pokemon_data.csv
  ALUMNOS/MDAB/RAUL_ALGORA/PYTHON/proyecto_final/proyectofinal.py
Labels: entregable, PYTHON

#308 e2e-ahorcado-cokecancook-fase-3
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/Dockerfile
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/README.md
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/ahorcado.ipynb
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/ahorcado.py
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/COKE_STUYCK/AHORCADO/requirements.txt
Labels: entregable, AHORCADO

#268 sesion1 sql
  ALUMNOS/MDAB/LARA_RUBIO/SQL/Sesion_1.sql
Labels: entregable, SQL

#267 Sesion1 sql
  ALUMNOS/MIA/PAU_JORQUES/SQL/sesion1.sql
  ALUMNOS/MIA/PAU_JORQUES/SQL/sesion2.sql
  ALUMNOS/MIA/PAU_JORQUES/SQL/sesion3.sql
Labels: entregable, SQL

#265 Create sesion1.txt
  ALUMNOS/MIA/JUAN_OVIEDO/SQL/clase2.sql
  ALUMNOS/MIA/JUAN_OVIEDO/SQL/sesion1.txt
Labels: entregable, SQL

#221 Create sesion1.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/requeriments.txt
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion 3.3.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion 3.4.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion 4.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion1.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion2.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion3.2.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion3.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion5.2.py
  ALUMNOS/MIA/JUAN_OVIEDO/PYTHON/sesion5.3.py
Labels: entregable, PYTHON

#431 tarea_dbt
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_payment_method.sql
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_payment_method_dbt.png
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_payment_method_postgres.png
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_returned_orders.sql
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_returned_orders_dbt.png
  ALUMNOS/MDAA/JOAN_GILABERT/DBT/rep_returned_orders_postgres.png
Labels: entregable, DBT

#426 ESTADISTICA-agarmir
  ALUMNOS/MIA/ALBERTO_GARCIA/ESTADISTICA/machine_failure_dataset.csv
  ALUMNOS/MIA/ALBERTO_GARCIA/ESTADISTICA/prueba_machine.ipynb
Labels: entregable, ESTADISTICA

#421 Create informe_final_eduardo_gonzalo.ipynb
  ALUMNOS/MIA/GONZALO_LOPEZ/ESTADISTICA/informe_final_eduardo_gonzalo.ipynb
Labels: entregable, ESTADISTICA

#417 Informe Estadistica
  ALUMNOS/MIA/ANDREU_PICORNELL/ESTADISTICA/informe_coches_indios.ipynb
  ALUMNOS/MIA/ANDREU_PICORNELL/ESTADISTICA/used_cars_data.csv
Labels: entregable, ESTADISTICA

#414 cokecancook/estadistica
  ALUMNOS/MIA/COKE_STUYCK/ESTADISTICA/.gitignore
  ALUMNOS/MIA/COKE_STUYCK/ESTADISTICA/Londres.ipynb
  ALUMNOS/MIA/COKE_STUYCK/ESTADISTICA/data/data.csv
  ALUMNOS/MIA/COKE_STUYCK/ESTADISTICA/data/subset.csv
  ALUMNOS/MIA/COKE_STUYCK/ESTADISTICA/requirements.txt
Labels: entregable, ESTADISTICA

#413 jobarbru_Estadistica
  ALUMNOS/MIA/PEPE_BARBERO/ESTADISTICA/informe_coches_indios.ipynb
Labels: entregable, ESTADISTICA

#412 Ejercicio
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/ESTADISTICA/Londres.ipynb
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/ESTADISTICA/data/data.csv
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/ESTADISTICA/data/subset.csv
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/ESTADISTICA/requirements.txt
Labels: entregable, ESTADISTICA

#437 Entrega Demo
  ALUMNOS/MDAB/FABIAN_MIULESCU/DEMO/.gitkeep
Labels: entregable

#436 Entrega TicTacToe
  ALUMNOS/MDAB/FABIAN_MIULESCU/TICTACTOE/Dockerfile
  ALUMNOS/MDAB/FABIAN_MIULESCU/TICTACTOE/README.md
  ALUMNOS/MDAB/FABIAN_MIULESCU/TICTACTOE/docker-compose.yaml
  ALUMNOS/MDAB/FABIAN_MIULESCU/TICTACTOE/game.py
  ALUMNOS/MDAB/FABIAN_MIULESCU/TICTACTOE/requirements.txt
Labels: entregable
