Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-03, with the labels that each got.

#587 DOCKER
  ALUMNOS/MIA/JAIRO_NAVARRO/DOCKER/Ejecución.png
  ALUMNOS/MIA/JAIRO_NAVARRO/DOCKER/dockerfile
  ALUMNOS/MIA/JAIRO_NAVARRO/DOCKER/script.py
Labels: entregable, DOCKER

#590 Ejercicios evaluables de Python
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION1/EJERCICIO1/ejercicio1.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION1/EJERCICIO2/ejercicio2.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION2/EJERCICIO1/ejercicio1.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION3/EJERCICIO1/ejercicio1.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO1/ejercicio1.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO1/ejercicio2.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO1/ejercicio3.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO2/ejercicio2.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO2/requirements.txt
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION4/EJERCICIO3/ejercicio3.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION5/EJERCICIO1/ejercicio1.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION5/EJERCICIO1/pokemon_data.csv
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION5/EJERCICIO2/ejercicio2.py
  ALUMNOS/MDAA/ALEX_REVERT/PYTHON/SESION5/EJERCICIO3/ejercicio3.py
Labels: entregable, PYTHON

#588 SQL
  ALUMNOS/MIA/JAIRO_NAVARRO/SQL/sesion1sql.sql
  ALUMNOS/MIA/JAIRO_NAVARRO/SQL/sesion2sql.sql
  ALUMNOS/MIA/JAIRO_NAVARRO/SQL/sesion3sql.sql
Labels: entregable, SQL

#505 bessini_sql_ed1
  ALUMNOS/MDAA/JUAN_BESSINI/SQL/Bessini-SQL-Part1-ED1.txt
  ALUMNOS/MDAA/JUAN_BESSINI/SQL/Bessini-SQL-Part2-ED1.txt
Labels: entregable, SQL

#375 Ejercicio Docker
  ALUMNOS/MIA/Eduardo_Abad/Docker/captura_dockerfile.png
  ALUMNOS/MIA/Eduardo_Abad/Docker/dockerfile
  ALUMNOS/MIA/Eduardo_Abad/Docker/image_generada_docker.png
  ALUMNOS/MIA/Eduardo_Abad/Docker/python_script.py
Labels: entregable

#606 Entregables MLOPS
  ALUMNOS/MIA/Eduardo_Abad/MLOPS/entregable_1/app.py
  ALUMNOS/MIA/Eduardo_Abad/MLOPS/entregable_1/captura_entregable_1.png
  ALUMNOS/MIA/Eduardo_Abad/MLOPS/entregable_1/model.pkl
  ALUMNOS/MIA/Eduardo_Abad/MLOPS/entregable_2.png
  ALUMNOS/MIA/Eduardo_Abad/MLOPS/entregable_metaflow.ipynb
Labels: entregable, MLOPS

#610 entregable_dimensionalidad_clustering
  ALUMNOS/MIA/PABLO_ARNAU/ML3_CLUSTERING/entregable_dimensionalidad_clustering.ipynb
Labels: entregable, ML3_CLUSTERING

#605 Create temperature_sensoring.yml
  ALUMNOS/MDAA/JUAN_BESSINI/APIS/temperature_sensoring.yml
Labels: entregable, APIS

#512 APIS-JMontoliu
  ALUMNOS/MDAB/JUAN_MONTOLIU/APIS/README.md
  ALUMNOS/MDAB/JUAN_MONTOLIU/APIS/evaluation_exercise/api.yaml
Labels: entregable, APIS

#482 Entregable_APIS_Marc
  ALUMNOS/MDAB/MARC_CANTERO/APIS/Entregable.yaml
Labels: entregable, APIS

#469 entregable de apis
  ALUMNOS/MDAB/VALENTIN_VECHER/APIS/entregable.yaml
Labels: entregable, APIS

#465 Ejercicio API - joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/APIS/README.md
  ALUMNOS/MDAB/JOEL_SEGUI/APIS/api_swagger.yml
  ALUMNOS/MDAB/JOEL_SEGUI/APIS/python-flask-api/api_flask.py
Labels: entregable, DBT, APIS

#452 Alejbc27 apis
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/APIS/openapi.yaml
Labels: entregable, APIS

#573 Entrega DBT Miguel Torres
  ALUMNOS/MDAA/MIGUEL_TORRES/DBT/image1.png
  ALUMNOS/MDAA/MIGUEL_TORRES/DBT/image2.png
  ALUMNOS/MDAA/MIGUEL_TORRES/DBT/image3.png
  ALUMNOS/MDAA/MIGUEL_TORRES/DBT/image4.png
Labels: entregable, DBT

#467 e-wach-API
  ALUMNOS/MDAB/TING_WANG/APIS/api.yaml
Labels: entregable, APIS

#607 docker
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DOCKER/dockerfile
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DOCKER/suma.py
Labels: entregable, DOCKER

#594 Entregable_Spark
  ALUMNOS/MDAA/ANTONI_MOLLA/PYSPARK/Entregable/pokemon.ipynb
  ALUMNOS/MDAA/ANTONI_MOLLA/PYSPARK/Entregable/pokemon_data_pokeapi.csv
Labels: entregable, PYSPARK

#544 E2E_Pyspark-joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/4_diy_etl.pdf
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/README.md
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/Readme_v2.md
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/docker/docker-compose.yml
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/project/resources/student_depression.csv
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/project/resources/therapy.csv
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/project/src/python/Readme.md
  ALUMNOS/MDAB/JOEL_SEGUI/PYSPARK/e2e_spark/project/src/python/main.py
Labels: entregable, PYSPARK

#538 alejbc27 - pyspark
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/4_diy_etl.pdf
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/README.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/docker/docker-compose.yml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/jar/mysql-connector.jar
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/resources/README.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/resources/buses.csv
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/resources/example.csv
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/resources/routes.csv
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/src/python/example.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/src/python/spark_exercise.ipynb
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/src/python/spark_exercise.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/PYSPARK/e2e_spark/project/src/python/spark_exercise_mysql.py
Labels: entregable, PYSPARK

#527 Pyspark entregable
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/4_diy_etl.pdf
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/README.md
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/docker/docker-compose.yml
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/jar/mysql-connector-j-8.0.33.jar
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/resources/amazon.csv
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/resources/imdb.csv
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/resources/netflix.csv
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/src/python/Readme.md
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/src/python/entregable.py
  ALUMNOS/MDAB/VALENTIN_VECHER/PYSPARK/e2e_spark/project/src/python/example.py
Labels: entregable, PYSPARK

#562 apuntes
  ALUMNOS/MDAA/MAR_SOLER/SQL/clases-sql.md
Labels: entregable, SQL

#470 kafka-delivery
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/Consumer.py
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/Final_consumer.py
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/Producer.py
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/README.md
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/Resuelto.png
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/Screenshot 2025-01-09 at 12.24.50.png
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/final_orders.sql
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/PostWork/processed_orders.sql
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/kafka-exercise4/Screenshot 2025-01-09 at 11.27.50.png
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/kafka-exercise4/Screenshot 2025-01-09 at 11.30.03.png
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/kafka-exercise4/Screenshot 2025-01-09 at 11.36.50.png
  ALUMNOS/MDAB/CARLOS_OLIVER/KAFKA/kafka-exercise5/Screenshot 2025-01-09 at 11.55.09.png
Labels: entregable, KAFKA

#485 Kafka-Angel
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/README.md
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/consumer.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/images/Solicitud_KSQL.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/images/Tabal_creada.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/images/Terminal_consumer_producer.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/netflix_titles.csv
  ALUMNOS/MDAB/ANGEL_MARTINEZ/KAFKA/producer.py
Labels: entregable, KAFKA

#496 KAFKA
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/Captura de pantalla 2025-01-19 a las 21.30.08.png
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/Captura de pantalla 2025-01-19 a las 22.19.59.png
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/Use_case
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/consumer.py
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/data_generator.py
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/final_consumer.py
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/final_orders_stream.sql
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/processed_orders_stream.sql
  ALUMNOS/MDAB/RAUL_ALGORA/KAFKA/producer.py
Labels: entregable, KAFKA

#545 Entregable KAFKA
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/Ingestion_and_Processing.png
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/Processing_with_KSQL.png
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/consumer.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/producer.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/querys.sql
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/KAFKA/use_case.txt
Labels: entregable, KAFKA

#575 Kafka
  ALUMNOS/MDAA/ANTONI_MOLLA/KAFKA/src/main/python/.vscode/settings.json
  ALUMNOS/MDAA/ANTONI_MOLLA/KAFKA/src/main/python/entregable/barcelona.txt
  ALUMNOS/MDAA/ANTONI_MOLLA/KAFKA/src/main/python/entregable/consumer.py
  ALUMNOS/MDAA/ANTONI_MOLLA/KAFKA/src/main/python/entregable/producer.py
Labels: entregable, KAFKA

#611 Entregable kafka
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/README.md
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/consumer.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/imagenes/1.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/imagenes/2.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/imagenes/3.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/imagenes/4.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/pokemon_data.csv
  ALUMNOS/MDAB/CLAUDIA_ROMERO/KAFKA/producer.py
Labels: entregable, KAFKA

#453 Alejbc27 - kafka
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_1/producer.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_2/consumer.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_3/consumer_paraisos.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_3/producer_filtrado_paraisos.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_4/consumidor_por_pais.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_5/consumer_completado.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/EJERCICIO_6/consumer_pendiente.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/README.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/average_score_per_genre.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/consumer.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/docker-compose.yml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/imdb_top_1000.csv
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/json_kafka.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/producer.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/KAFKA/Postwork/querys.sql
Labels: entregable, KAFKA

#462 lara_kafka
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/README.md
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/consumer.py
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/images/create_table.jpg
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/images/ksql.jpg
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/images/terminal.png
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/netflix_titles.csv
  ALUMNOS/MDAB/LARA_RUBIO/KAFKA/producer.py
Labels: entregable, KAFKA

#630 ENTREGABLE MLOPS completo
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/README.md
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_1/app.py
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_1/entregable_1.png
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_1/iris_model.pkl
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_2/Entregable 2.png
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_3/Entregable 3.png
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/entregable_3/metaflow_trainingflow.py
  ALUMNOS/MIA/MAURO_BALAGUER/MLOPS/requeriments.txt
Labels: entregable, MLOPS

#629 kafka_postWork
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/.gitignore
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/README.md
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/SOLUCION.md
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/capturas/KSQL.png
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/capturas/consumer.png
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/capturas/ingestion.png
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/consumer.py
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/data/filmaffinity.csv
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/docker-compose.yml
  ALUMNOS/MDAA/JOAN_GILABERT/KAFKA/PostWork/producer.py
Labels: entregable

#631 Tictactoe maurobalas
  ALUMNOS/MIA/MAURO_BALAGUER/TICTACTOE/Dockerfile
  ALUMNOS/MIA/MAURO_BALAGUER/TICTACTOE/README.md
  ALUMNOS/MIA/MAURO_BALAGUER/TICTACTOE/docker-compose.yaml
  ALUMNOS/MIA/MAURO_BALAGUER/TICTACTOE/game.py
  ALUMNOS/MIA/MAURO_BALAGUER/TICTACTOE/requirements.txt
Labels: entregable, TICTACTOE

#628 API's Angel
  ALUMNOS/MDAB/ANGEL_MARTINEZ/APIS/entregable.yml
Labels: entregable, APIS

#627 APIS_lara
  ALUMNOS/MDAB/LARA_RUBIO/APIS/ejercicio_entregable.yaml
Labels: entregable, APIS

#626 Ejercicio APIS
  ALUMNOS/MDAB/CLAUDIA_ROMERO/APIS/Ejercicio1.yaml
Labels: entregable, APIS

#615 Pablo ahorcado
  ALUMNOS/MIA/PABLO_ESTEBAN/AHORCADO/Dockerfile
  ALUMNOS/MIA/PABLO_ESTEBAN/AHORCADO/ahorcado.py
  ALUMNOS/MIA/PABLO_ESTEBAN/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/PABLO_ESTEBAN/AHORCADO/jugar.py
  ALUMNOS/MIA/PABLO_ESTEBAN/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#633 Entregable APIS Miguel
  ALUMNOS/MDAA/MIGUEL_TORRES/APIS/API_ROBOT.yaml
  ALUMNOS/MDAA/MIGUEL_TORRES/APIS/README.md
Labels: entregable, APIS
