Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-07, with the labels that each got.

#709 Add OpenAPI specification for Robot Temperature Sensor API
  ALUMNOS/MDAB/FABIAN_MIULESCU/APIS/openapi.yaml
Labels: entregable, APIS

#706 GCP_ALMACENAMIENTO
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.31.15.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.57.24.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.08.41.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.12.23.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.16.21.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.18.25.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.32.31.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 0.36.39.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 11.50.30.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 12.23.31.png
  ALUMNOS/MDAA/ALEX_REVERT/APIS/GCP_ALMACENAMIENTO/Captura de pantalla 2025-06-18 a las 8.37.08.png
Labels: entregable, APIS

#704 dbt-screenshots
  ALUMNOS/MDAA/MAR_SOLER/DBT/query-rep_payment_method_status.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/query-rep_returned_orders.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/result-rep_payment_method_status.png
  ALUMNOS/MDAA/MAR_SOLER/DBT/result-rep_returned_orders.png
Labels: entregable, DBT

#702 entregtable gcp almacenamiento
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.05.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.12.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.18.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.35.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.39.57.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.40.55.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.42.02.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.43.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 11.49.49.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.06.42.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.06.47.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.08.38.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 12.40.41.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.11.53.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.12.18.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.20.19.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.23.11.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.23.24.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.29.11.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.35.50.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.46.47.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.47.28.png
  ALUMNOS/MDAA/MAR_SOLER/GCP_ALMACENAMIENTO/Captura de pantalla 2025-03-22 a las 13.53.53.png
Labels: entregable

#705 End2end
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/README.docx
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 2.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 3.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 4.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 5.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 6.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy 7.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image copy.png
  ALUMNOS/MDAB/RAUL_ALGORA/GCP_ALMACENAMIENTO/image.png
Labels: entregable

#593 Entregable_Python
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_1/ejercicio_1.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_1/ejercicio_2.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_2/ejercicio_1.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_3/ejercicio_1.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_3/ejercicio_2.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_3/ejercicio_3.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_4/ejercicio_1.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_4/ejercicio_2/ejercicio_2.py
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_4/ejercicio_2/requirements.txt
  ALUMNOS/MDAA/JUAN_BESSINI/PYTHON/SESION_4/ejercicio_3.py
Labels: entregable, PYTHON

#715 Anpiboi exerciese mlops
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 1/Captura.JPG
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 1/app.py
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 2/mlflow-hiperparameters.png
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/Captura.JPG
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/Dockerfile
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/ejecutar.bat
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/metaflow-model-training.ipynb
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/metaflow_trainingflow.py
  ALUMNOS/MIA/ANDREU_PICORNELL/MLOPS/Entregable 3/requirements.txt
Labels: entregable, MLOPS

#725 Entrega tarea AWS Almacenamiento
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/el_lakehouse.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/el_redshift.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/requirements.txt
  ALUMNOS/MDAA/MIGUEL_TORRES/AWS_ALMACENAMIENTO/schema.sql
Labels: entregable

#731 Ejercicio_AWS
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAA/JUAN_BESSINI/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

#730 entregables finales
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/control_vuelos.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/rds.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/AWS_ALMACENAMIENTO/requirements.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/Docker-compose.yml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/Dockerfile
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/CHUCK/main.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/customers.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/docker-compose.yaml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/models/rep_payment_method_status.sql
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/models/rep_returned_orders.sql
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/orders.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/DBT/payments.csv
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/Capturas/Captura.PNG
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/consumer.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/consumer_futbolistas.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/futbolistas.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/producer.py
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/KAFKA/producer_futbolistas.py
Labels: entregable, DBT, CHUCK

#728 Feature/pyspark joan
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/.gitignore
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/4_diy_etl.pdf
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/README.md
  ALUMNOS/MDAA/JOAN_GILABERT/PYSPARK/e2e_spark/e2e.ipynb
Labels: entregable, PYSPARK

#714 Vmarti/fundamentos
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/dockerfile
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/get-pip.py
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/palabras.txt
  ALUMNOS/MDAA/VICENTE_MARTI/AHORCADO/palabras2.txt
  ALUMNOS/MDAA/VICENTE_MARTI/PYTHON/main.py
  ALUMNOS/MDAA/VICENTE_MARTI/SQL/Clases.sql
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/docker-compose.yml
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/dockerfile
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/gamer.py
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/readme.md
  ALUMNOS/MDAA/VICENTE_MARTI/TICTACTOE/requirements.txt
Labels: entregable, SQL, PYTHON, AHORCADO, TICTACTOE

#720 Kafka
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/consumer.py
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/dockercompose.yml
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/movimientos.txt
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/producer.py
  ALUMNOS/MDAA/ALEX_REVERT/KAFKA/requirements.txt
Labels: entregable

#716 Entregable AWS
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/iceberg_create_insert.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/1-Database.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/2-RDS.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/3-Deaver.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/4-Redshift.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/5-Redshift_query_editor.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/6-Iceberg.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/7-Bucket.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/8-Tablas_glue.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/img/9-Athena.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/prueba.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/rds.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

#717 ejercicio chuck
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/dockerfile
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/main.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/CHUCK/template.xml
Labels: entregable, CHUCK

#456 e_wach/KAFKA-ENTREGABLE
  ALUMNOS/MDAB/TING_WANG/KAFKA/IMDB_Movies_Dataset.csv
  ALUMNOS/MDAB/TING_WANG/KAFKA/README.md
  ALUMNOS/MDAB/TING_WANG/KAFKA/consumer.py
  ALUMNOS/MDAB/TING_WANG/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/TING_WANG/KAFKA/images/image-1.png
  ALUMNOS/MDAB/TING_WANG/KAFKA/images/image-2.png
  ALUMNOS/MDAB/TING_WANG/KAFKA/images/image-3.png
  ALUMNOS/MDAB/TING_WANG/KAFKA/images/image-4.png
  ALUMNOS/MDAB/TING_WANG/KAFKA/images/image.png
  ALUMNOS/MDAB/TING_WANG/KAFKA/producer.py
Labels: entregable, KAFKA
