Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-01, with the labels that each got.

#429 Dbt
  ALUMNOS/MDAA/ANTONI_MOLLA/DBT/Captura de pantalla 2024-12-17 a las 11.44.34.png
  ALUMNOS/MDAA/ANTONI_MOLLA/DBT/Captura de pantalla 2024-12-17 a las 11.46.34.png
  ALUMNOS/MDAA/ANTONI_MOLLA/DBT/Captura de pantalla 2024-12-23 a las 10.08.30.png
  ALUMNOS/MDAA/ANTONI_MOLLA/DBT/Captura de pantalla 2024-12-23 a las 10.08.42.png
Labels: entregable, DBT

#459 alejbc27 - tictactoe
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/TICTACTOE/Dockerfile
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/TICTACTOE/README.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/TICTACTOE/docker-compose.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/TICTACTOE/game.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/TICTACTOE/requirements.txt
Labels: entregable

#457 chuck
  ALUMNOS/MDAB/CARLOS_OLIVER/CHUCK/Nifi01.xml
  ALUMNOS/MDAB/CARLOS_OLIVER/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/CARLOS_OLIVER/CHUCK/dockerfile
  ALUMNOS/MDAB/CARLOS_OLIVER/CHUCK/requirements.txt
  ALUMNOS/MDAB/CARLOS_OLIVER/CHUCK/script.py
Labels: entregable, CHUCK

#400 DBT ejercicios
  ALUMNOS/MDAB/RAUL_ALGORA/DBT/Captura de pantalla 2024-12-02 a las 19.32.01.png
  ALUMNOS/MDAB/RAUL_ALGORA/DBT/Captura de pantalla 2024-12-02 a las 19.32.31.png
  ALUMNOS/MDAB/RAUL_ALGORA/DBT/rep_payment_method_status.sql
  ALUMNOS/MDAB/RAUL_ALGORA/DBT/rep_returned_orders.sql
Labels: entregable, DBT

#399 entregable_dbt
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DBT/DBT 1.png
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DBT/DBT 2.png
Labels: entregable, DBT

#398 DBT entregable
  ALUMNOS/MDAB/TING_WANG/DBT/rep_payment_method_status.sql
  ALUMNOS/MDAB/TING_WANG/DBT/rep_returned_orders.sql
  ALUMNOS/MDAB/TING_WANG/DBT/sql_query_1.png
  ALUMNOS/MDAB/TING_WANG/DBT/sql_query_2.png
Labels: entregable, DBT

#463 e-wach-TICTACTOE
  ALUMNOS/MDAB/TING_WANG/TICTACTOE/Dockerfile
  ALUMNOS/MDAB/TING_WANG/TICTACTOE/docker-compose.yaml
  ALUMNOS/MDAB/TING_WANG/TICTACTOE/game.py
Labels: entregable

#483 Entregable_DOCKER_Marc
  ALUMNOS/MDAB/MARC_CANTERO/DOCKER/Dockerfile
  ALUMNOS/MDAB/MARC_CANTERO/DOCKER/Screenshot.png
  ALUMNOS/MDAB/MARC_CANTERO/DOCKER/sum.py
Labels: entregable, DOCKER

#474 Ejercicio Docker
  ALUMNOS/MDAA/VICENTE_MARTI/DOCKER/Captura Docker.png
  ALUMNOS/MDAA/VICENTE_MARTI/DOCKER/dockerfile
  ALUMNOS/MDAA/VICENTE_MARTI/DOCKER/ejerdocker.py
Labels: entregable, DOCKER

#468 subida_docker_ejercicio_bessini
  ALUMNOS/MDAA/JUAN_BESSINI/DOCKER/bessini_docker_ejercicio_invocacion.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/DOCKER/dockerfile
  ALUMNOS/MDAA/JUAN_BESSINI/DOCKER/sum.py
Labels: entregable, DOCKER

#257 entregables_python
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_1.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_2.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_3-1.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_3-2.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_3-3.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-1-1.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-1-2.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-1-3.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-2/app.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-2/guia.txt
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-2/requirements.txt
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_4-3.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_5-1/ejercicios_sesion_5-1.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_5-1/pokemon_data.csv
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_5-3.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/ejercicios_sesion_5_2.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/PYTHON_FINAL.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/actualizar_datos.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/aprobar_alumno.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/añadir_alumno.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/eliminar_alumno_nif.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/mostra_suspendidos.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/mostrar_aprobados.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/mostrar_datos_email.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/mostrar_datos_nif.py
  ALUMNOS/MIA/PABLO_ARNAU/PYTHON/python_ejercicio_final/suspender_alumno.py
Labels: entregable, PYTHON

#359 ejercicio docker resuelto
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DOCKER/dockerfile
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DOCKER/dockerhub_url.txt
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DOCKER/invocacion contenedor.png
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DOCKER/main.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/DOCKER/resultado de la ejecucion.png
Labels: entregable, DOCKER

#364 Entregable_Docker
  ALUMNOS/MDAB/RAUL_ALGORA/DOCKER/Captura de pantalla 2024-11-21 a las 23.21.29.png
  ALUMNOS/MDAB/RAUL_ALGORA/DOCKER/Dockerfile
  ALUMNOS/MDAB/RAUL_ALGORA/DOCKER/docker.py
Labels: entregable, DOCKER

#394 Veintimilla docker
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/DOCKER/Captura de pantalla invocación.png
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/DOCKER/dockerfile
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/DOCKER/script/script.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 1/Ejercicio 1/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 1/Ejercicio 2/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 2/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 3/Ejercicio 1/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 3/Ejercicio 2/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 3/Ejercicio 3/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 4/Ejercicio 1/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 4/Ejercicio 2/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 4/Ejercicio 3/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 5/Ejercicio 1/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 5/Ejercicio 2/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/Sesión 5/Ejercicio 3/main.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Curso de Python/requirements.txt
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/PYTHON/Datos/pokemon_data.csv
Labels: entregable, PYTHON, DOCKER

#390 DOCKER
  ALUMNOS/MIA/ALBERTO_GARCIA/DOCKER/Captura de pantalla 2024-11-26 211808.png
  ALUMNOS/MIA/ALBERTO_GARCIA/DOCKER/dockerfile
  ALUMNOS/MIA/ALBERTO_GARCIA/DOCKER/script.py
Labels: entregable, DOCKER

#389 Ejercicio entregable de Docker
  ALUMNOS/MDAA/ALEX_REVERT/DOCKER/captura_pantalla.png
  ALUMNOS/MDAA/ALEX_REVERT/DOCKER/dockerfile
  ALUMNOS/MDAA/ALEX_REVERT/DOCKER/suma.py
Labels: entregable, DOCKER

#381 entregable docker
  ALUMNOS/MIA/MAURO_BALAGUER/DOCKER/Dockerfile.client
  ALUMNOS/MIA/MAURO_BALAGUER/DOCKER/Dockerfile.server
  ALUMNOS/MIA/MAURO_BALAGUER/DOCKER/connect.py
  ALUMNOS/MIA/MAURO_BALAGUER/DOCKER/docker-compose.yml
Labels: entregable, DOCKER

#358 Entregable Docker
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DOCKER/Num_parametros.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DOCKER/README.md
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DOCKER/SUMA.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DOCKER/dockerfile
Labels: entregable, DOCKER

#481 Chuck_Miguel_Torres
  ALUMNOS/MDAA/MIGUEL_TORRES/CHUCK/README.md
  ALUMNOS/MDAA/MIGUEL_TORRES/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/MIGUEL_TORRES/CHUCK/python-migrator/Dockerfile
  ALUMNOS/MDAA/MIGUEL_TORRES/CHUCK/python-migrator/migrate.py
  ALUMNOS/MDAA/MIGUEL_TORRES/CHUCK/python-migrator/requirements.txt
Labels: entregable, CHUCK

#407 Informe estadistica
  ALUMNOS/MIA/Eduardo_Abad/ESTADISTICA/informe_final_eduardo_gonzalo.ipynb
Labels: entregable, ESTADISTICA

#486 Python-Angel
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Proyecto_final/Proyecto_final.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_1/Ejercició 1/Ejercicio1.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_1/Ejercició 2/Ejercicio2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_2/Ejercicio2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_3/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_3/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_3/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_4/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_4/Ejercicio1/Ejercicio2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_4/Ejercicio1/Ejercicio3.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_4/Ejercicio2/requirements.txt
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_4/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_5/Ejercicio_1/Ejercicio1.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_5/Ejercicio_1/pokemon_data.csv
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_5/Ejercicio_2/Ejercicio2.py
  ALUMNOS/MDAB/ANGEL_MARTINEZ/PYTHON/Sesión_5/Ejercicio_3/Ejercicio1.py
Labels: entregable, PYTHON

#458 PYTHON_Marc
  ALUMNOS/MDAB/MARC_CANTERO/PYTHON/ejercicio1.py
  ALUMNOS/MDAB/MARC_CANTERO/PYTHON/ejercicio2.py
  ALUMNOS/MDAB/MARC_CANTERO/PYTHON/ejercicio3.py
  ALUMNOS/MDAB/MARC_CANTERO/PYTHON/ejercicio4.py
  ALUMNOS/MDAB/MARC_CANTERO/PYTHON/proyecto_final.py
Labels: entregable, PYTHON, DOCKER

#447 Entregable_SQL
  ALUMNOS/MDAB/ANGEL_MARTINEZ/SQL/Primera_clase.txt
  ALUMNOS/MDAB/ANGEL_MARTINEZ/SQL/Segunda_clase.txt
Labels: entregable, SQL

#435 SQL-JMontoliu
  ALUMNOS/MDAB/JUAN_MONTOLIU/SQL/sesion_1y2.sql
Labels: entregable, SQL

#434 Entrega SQL
  ALUMNOS/MDAB/FABIAN_MIULESCU/SQL/Docker-compose.yml
  ALUMNOS/MDAB/FABIAN_MIULESCU/SQL/sesion1.sql
  ALUMNOS/MDAB/FABIAN_MIULESCU/SQL/sesion2.sql
  ALUMNOS/MDAB/FABIAN_MIULESCU/SQL/sesion3.sql
Labels: entregable, SQL

#427 SQL-agarmir
  ALUMNOS/MIA/ALBERTO_GARCIA/SQL/Clase1.txt
  ALUMNOS/MIA/ALBERTO_GARCIA/SQL/Clase2.txt
  ALUMNOS/MIA/ALBERTO_GARCIA/SQL/Clase3.txt
Labels: entregable, SQL

#405 Ejercicios_SQL
  ALUMNOS/MIA/IGNACIO_MARTINEZ/SQL/Sesion_1.sql
  ALUMNOS/MIA/IGNACIO_MARTINEZ/SQL/Sesion_2.sql
  ALUMNOS/MIA/IGNACIO_MARTINEZ/SQL/Sesion_3.sql
  ALUMNOS/MIA/IGNACIO_MARTINEZ/SQL/notas.txt
Labels: entregable, SQL

#391 Ejercicios SQL
  ALUMNOS/MIA/Eduardo_Abad/SQL/sesion1_sql.txt
  ALUMNOS/MIA/Eduardo_Abad/SQL/sesion2_sql.txt
  ALUMNOS/MIA/Eduardo_Abad/SQL/sesion3_sql.txt
Labels: entregable, SQL

#383 SQL work
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/SQL/Sql.txt
Labels: entregable, SQL

#379 Pablo sql
  ALUMNOS/MIA/PABLO_ESTEBAN/SQL/Sesion1.sql
  ALUMNOS/MIA/PABLO_ESTEBAN/SQL/Sesion2.sql
  ALUMNOS/MIA/PABLO_ESTEBAN/SQL/Sesion3.sql
Labels: entregable, SQL

#388 Session 1 and 2 sql
  ALUMNOS/MIA/ANDREU_PICORNELL/SQL/session_1.txt
  ALUMNOS/MIA/ANDREU_PICORNELL/SQL/session_2.txt
Labels: entregable, SQL

#377 apuntes SQL
  ALUMNOS/MIA/JORGE_MOLTO/SQL/apuntes_clase.sql
Labels: entregable, SQL

#382 Sql maurobalas
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/README.md
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/docker-compose.yml
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/dvdrental.tar
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/sesion1.sql
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/sesion2.sql
  ALUMNOS/MIA/MAURO_BALAGUER/SQL/sesion3.sql
Labels: entregable, SQL

#366 sesiones sql
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/SQL/sesiones.sql
Labels: entregable, SQL

#363 SESIONES 1 Y 2 SQL
  ALUMNOS/MDAB/RAUL_ALGORA/SQL/SESION 1 SQL
  ALUMNOS/MDAB/RAUL_ALGORA/SQL/SESION 2 SQL 
Labels: entregable, SQL

#310 subo clase_2
  ALUMNOS/MIA/PABLO_ARNAU/SQL/clase2_sql.txt
  ALUMNOS/MIA/PABLO_ARNAU/SQL/clase3_sql.txt
Labels: entregable, SQL

#309 cokecancook/sql
  ALUMNOS/MIA/COKE_STUYCK/SQL/data/dvdrental.tar
  ALUMNOS/MIA/COKE_STUYCK/SQL/docker-compose.yml
  ALUMNOS/MIA/COKE_STUYCK/SQL/queries/Session_1/actors.sql
  ALUMNOS/MIA/COKE_STUYCK/SQL/queries/Session_1/film.sql
  ALUMNOS/MIA/COKE_STUYCK/SQL/queries/Session_2/create.sql
  ALUMNOS/MIA/COKE_STUYCK/SQL/queries/Session_2/join.sql
  ALUMNOS/MIA/COKE_STUYCK/SQL/queries/Session_2/rating.sql
Labels: entregable, SQL

#306 Entrega1sql
  ALUMNOS/MIA/GONZALO_LOPEZ/SQL/sesion1.sql
  ALUMNOS/MIA/GONZALO_LOPEZ/SQL/sesion2.sql
  ALUMNOS/MIA/GONZALO_LOPEZ/SQL/sesion3.sql
Labels: entregable, SQL

#283 SESION-02-SQL
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/SQL/SESION_02_SQL.md
Labels: entregable, SQL

#282 SQL_s1_s2_MARC
  ALUMNOS/MDAB/MARC_CANTERO/SQL/sesion_1.sql
  ALUMNOS/MDAB/MARC_CANTERO/SQL/sesion_2.sql
Labels: entregable, SQL

#226 PYTHON
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Entregable_1.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Proyecto_Final.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_1/Ejercicio1y2.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_2/Ejercicio1.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_3/Ejercicio1.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_3/Ejercicio2.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_3/Ejercicio3.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_4/Ejercicio1_bisiesto.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_4/Ejercicio1_primo.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_4/Ejercicio_3.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_4/Entorno_virtual/main.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_4/Entorno_virtual/requirements.txt
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_5/Ejercicio1.py
  ALUMNOS/MIA/JAIRO_NAVARRO/PYTHON/Sesion_5/Ejercicio2y3.py
Labels: entregable, PYTHON

#335 E2e ahorcado veintimill alejandro
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/README.md
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/ahorcado.py
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/dockerfile
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/palabras.txt
  ALUMNOS/MIA/ALEJANDRO_VEINTIMILLA/AHORCADO/requirements.txt
Labels: entregable, AHORCADO

#491 Update README.md Mar
  ALUMNOS/MDAA/MAR_SOLER/README.md
Labels: entregable

#494 adding code for grades
  .github/code/check.py
  ALUMNOS/MDAA/.gitkeep
  ALUMNOS/MDAB/.gitkeep
  README.md
Labels: entregable

#373 EjerciciosEntregablesPython
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/ProyectoFinalGonzalo/ProyectoFinal.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 1/Ejercicio 1/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 1/Ejercicio 2/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 2/Ejercicio 1/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 3/Ejercicio 1/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 3/Ejercicio 2/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 3/Ejercicio 3/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 4/Ejercicio 1/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 4/Ejercicio 2/.vscode/launch.json
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 4/Ejercicio 2/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 4/Ejercicio 2/requirements.txt
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 4/Ejercicio 3/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 5/Ejercicio 1/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 5/Ejercicio 1/pokemon_data.csv
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 5/Ejercicio 2/Archivo.py
  ALUMNOS/MIA/GONZALO_LOPEZ/PYTHON/Curso de Python/Sesión 5/Ejercicio 3/Archivo.py
Labels: entregable, PYTHON

#355 Entregables Python
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/pokemon_data.csv
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/requierements.txt
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion5_pandas.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_1.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_2.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_3.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_4_1-1.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_4_1-2.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_4_1-3.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_4_3.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/ejercicios_sesiones/sesion_5_clase.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/proyecto_final/funciones.py
  ALUMNOS/MIA/Eduardo_Abad/PYTHON/ejercicios_entregables/proyecto_final/main.py
Labels: entregable, PYTHON

#331 Entregas Python Alberto García
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/ProyectoFinal.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 1/Ejercicio 1.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 1/Ejercicio 2.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 2/Ejercicio 1.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 3/Ejercicio 1.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 3/Ejercicio 2.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 3/Ejercicio 3.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 4/Ejercicio 1.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 4/Ejercicio 2.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 4/Ejercicio 3.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 5/Ejercicio1.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 5/Ejercicio2.py
  ALUMNOS/MIA/ALBERTO_GARCIA/PYTHON/Curso de Python/Sesión 5/Ejercicio3.py
Labels: entregable, PYTHON

#247 cokecancook/python
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Final_Project/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Final_Project/student_directory.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/README.md
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_1/Exercise_1/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_1/Exercise_1/hello_world.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_1/Exercise_2/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_1/Exercise_2/hello_name.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_2/Exercise_1/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_2/Exercise_1/investment_calculator.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_1/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_1/investment_calculator_app.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_2/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_2/primes_1_to_100.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_3/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_3/Exercise_3/leap_or_not.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_1/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_1/leap_checker.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_1/primer_checker.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_1/primes_in_range.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_2/python_template.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_3/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_4/Exercise_3/random_user.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_1/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_1/data/pokemon_data.csv
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_1/data/pokemon_data_backup.csv
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_1/pokemon_database.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_2/automobile_class.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/Session_5/Exercise_3/automobile_children_classes.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/__init.py__
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/functions.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/main.py
  ALUMNOS/MIA/COKE_STUYCK/PYTHON/requirements.txt
Labels: entregable, PYTHON

#203 Sesion 1-2-3 + Final project
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 1/EJERCICIO 1/hola_mundo.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 1/EJERCICIO 2/hola_nombre.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 2/EJERCICIO 1/inversion.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 3/EJERCICIO 1/calculadora_inversion.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 3/EJERCICIO 2/primos.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 3/EJERCICIO 3/bisiesto.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 4/EJERCICIO 1/primo_bisiesto.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 4/EJERCICIO 2/requirements.txt
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 4/EJERCICIO 3/peticion.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 5/EJERCICIO 1/Datos/pokemon_data.csv
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 5/EJERCICIO 1/pokemon.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 5/EJERCICIO 3/heredar.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/EJERCICIOS EVALUABLES/SESIÓN 5/EJERCICIO2/automovil.py
  ALUMNOS/MIA/PAU_JORQUES/PYTHON/PROYECTO FINAL/cartera_alumnos.py
Labels: entregable, PYTHON

#489 Python_Ejercicios_Sesion_1/2/3
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 1/Ejercicio 1/Ejercicio1.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 1/Ejercicio 2/Ejercicio2.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 2/Ejercicio 1/Ejercicio1.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 3/Ejercicio 1/Ejercicio1.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 3/Ejercicio 2/Ejercicio2.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 3/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio1/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio1/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio1/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio2/requirements.txt
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio3/api.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 4/Ejercicio3/requirements.txt
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 5/Ejercicio1/prueba.csv
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 5/Ejercicio1/read.py
  ALUMNOS/MDAA/ANTONI_MOLLA/PYTHON/Sesion 5/Ejercicio1/requirements.txt
Labels: entregable, PYTHON

#495 rename sql
  ALUMNOS/MDAB/RAUL_ALGORA/SQL/SESION1.sql
  ALUMNOS/MDAB/RAUL_ALGORA/SQL/SESION2.sql
Labels: entregable, SQL

#510 Joaquin-Entrega python
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Proyecto Final/Proyecto_Final.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 1/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 1/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 2/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 3/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 3/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 3/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 4/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 4/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 4/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 5/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 5/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 5/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/Python/Sesion 5/pokemon_data.csv
Labels: entregable

#487 Dbt-Angel
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_payments_method/python_rep_payments.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_payments_method/rep_payments_method_status.sql
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_payments_method/sql_rep_payments.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_returned_orders/python_rep_orders.png
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_returned_orders/rep_returned_orders.sql
  ALUMNOS/MDAB/ANGEL_MARTINEZ/DBT/rep_returned_orders/sql_rep_orders.png
Labels: entregable, DBT

#516 Fix naming
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Proyecto Final/Proyecto_Final.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 1/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 1/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 2/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 3/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 3/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 3/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 4/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 4/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 4/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 5/Ejercicio 1.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 5/Ejercicio 2.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 5/Ejercicio 3.py
  ALUMNOS/MDAB/JOAQUIN_ZAPATA/PYTHON/Sesion 5/pokemon_data.csv
Labels: entregable, PYTHON

#515 DEMO
  ALUMNOS/MIA/IGNACIO_MARTINEZ/DEMO/gitkeep
Labels: entregable

#509 Añado la carpeta AHORCADO
  ALUMNOS/MIA/ALBERTO_GARCIA/AHORCADO/ahorcado.py
  ALUMNOS/MIA/ALBERTO_GARCIA/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/ALBERTO_GARCIA/AHORCADO/dockerfile
  ALUMNOS/MIA/ALBERTO_GARCIA/AHORCADO/palabras.txt
  ALUMNOS/MIA/ALBERTO_GARCIA/AHORCADO/requirements.txt
Labels: entregable, AHORCADO

#503 Ejercicio Chuck Norris
  ALUMNOS/MDAA/ALEX_REVERT/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/ALEX_REVERT/CHUCK/dockerfile
  ALUMNOS/MDAA/ALEX_REVERT/CHUCK/leer.py
Labels: entregable

#504 commit_chuck_ED1
  ALUMNOS/MDAA/JUAN_BESSINI/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/JUAN_BESSINI/CHUCK/dockerfile
  ALUMNOS/MDAA/JUAN_BESSINI/CHUCK/main.py
  ALUMNOS/MDAA/JUAN_BESSINI/CHUCK/requirements.txt
Labels: entregable

#492 Terraform joel1091 new
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 0/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 0/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 0/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 1/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 1/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 1/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 2/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 2/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 2/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 3/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 3/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 3/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 4/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 4/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 4/terraform.tfvars
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Exercise 4/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/GCP/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/GCP/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/GCP/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Modulo/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Modulo/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Modulo/server/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Modulo/server/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Modulo/variables.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Topic/main.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Topic/providers.tf
  ALUMNOS/MDAB/JOEL_SEGUI/TERRAFORM/Topic/variables.tf
Labels: entregable

#490 chuck
  ALUMNOS/MDAA/MAR_SOLER/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/MAR_SOLER/CHUCK/dockerfile
  ALUMNOS/MDAA/MAR_SOLER/CHUCK/mongo.py
Labels: entregable

#488 Entregable chuck
  ALUMNOS/MDAA/ANTONI_MOLLA/CHUCK/docker-compose.yml
  ALUMNOS/MDAA/ANTONI_MOLLA/CHUCK/dockerfile
  ALUMNOS/MDAA/ANTONI_MOLLA/CHUCK/lectura.py
Labels: entregable

#519 Clean elements
  ALUMNOS/MDAA/ANTONI_MOLLA/README.md
  ALUMNOS/MDAA/VICENTE_MARTI/LINUX/EjercicioLinux.md
  ALUMNOS/MDAB/FABIAN_MIULESCU/.gitkeep
Labels: entregable, LINUX

#475 dbt_delivery
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_orders_returned_exercise/rep_returned_orders.png
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_orders_returned_exercise/rep_returned_orders.sql
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_orders_returned_exercise/rep_returned_orders_pgadmin.png
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_payment_method_status_exercise/rep_payment_method_pgadmin.png
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_payment_method_status_exercise/rep_payment_method_status.png
  ALUMNOS/MDAB/CARLOS_OLIVER/DBT/rep_payment_method_status_exercise/rep_payment_method_status.sql
Labels: entregable, DBT

#497 DBT_entregable_Marc
  ALUMNOS/MDAB/MARC_CANTERO/DBT/payment_method_screenshot.png
  ALUMNOS/MDAB/MARC_CANTERO/DBT/rep_payment_method_status.sql
  ALUMNOS/MDAB/MARC_CANTERO/DBT/rep_returned_orders.sql
  ALUMNOS/MDAB/MARC_CANTERO/DBT/returned_orders_screenshot.png
Labels: entregable, DBT

#480 Entrega DBT
  ALUMNOS/MDAA/ALEX_REVERT/DBT/Captura de pantalla 2025-01-11 a las 21.44.48.png
  ALUMNOS/MDAA/ALEX_REVERT/DBT/Captura de pantalla 2025-01-11 a las 21.47.54.png
  ALUMNOS/MDAA/ALEX_REVERT/DBT/Captura de pantalla 2025-01-12 a las 13.39.38.png
  ALUMNOS/MDAA/ALEX_REVERT/DBT/Captura de pantalla 2025-01-12 a las 13.55.09.png
Labels: entregable, DBT

#476 dbt_submission
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_orders/rep_orders_postgres.jpg
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_orders/rep_orders_python.jpg
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_orders/rep_returned_orders.sql
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_payments/rep_payments_method_status.sql
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_payments/rep_payments_postgres.jpg
  ALUMNOS/MDAB/LARA_RUBIO/DBT/rep_payments/rep_payments_python.jpg
Labels: entregable, DBT

#508 Entregable PySpark
  ALUMNOS/MDAB/TING_WANG/PYSPARK/README.md
  ALUMNOS/MDAB/TING_WANG/PYSPARK/docker/docker-compose.yml
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/jar/mysql-connector-j-8.0.33.jar
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/resources/Country.csv
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/resources/HDI.csv
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/resources/happiness_2019.csv
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/src/notebook/e_wach_e2eSpark.ipynb
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/src/python/e_wach_e2eSpark-MYSQL.py
  ALUMNOS/MDAB/TING_WANG/PYSPARK/project/src/python/e_wach_e2eSpark.py
Labels: entregable, PYSPARK

#500 Script_spark
  ALUMNOS/MDAB/CARLOS_OLIVER/PYSPARK/E2E-pyspark.ipynb
  ALUMNOS/MDAB/CARLOS_OLIVER/PYSPARK/E2E-pyspark.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYSPARK/README.md
Labels: entregable, PYSPARK

#537 RNN2 HECHO
  ALUMNOS/MIA/PAU_JORQUES/RN2_CNN/Deliverable_CNN.ipynb
Labels: entregable

#325 Python_Entregable_Namase7
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/PROYECTO_FINAL/archivo13.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 1/Ejercicio_1/archivo1.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 1/Ejercicio_2/archivo2.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 2/Ejercicio_1/archivo3.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 3/Ejercicio_1/archivo4.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 3/Ejercicio_2/archivo5.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 3/Ejercicio_3/archivo6.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 4/Ejercicio_1/archivo7.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 4/Ejercicio_2/archivo8.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 4/Ejercicio_2/requirements.txt
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 4/Ejercicio_3/archivo9.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 5/Ejercicio_1/archivo10.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 5/Ejercicio_1/pokemon_data.csv
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 5/Ejercicio_2/archivo11.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/PYTHON/SESION 5/Ejercicio_3/archivo12.py
Labels: entregable, PYTHON

#401 Ejercicio-DBT-joel1091
  ALUMNOS/MDAB/JOEL_SEGUI/DBT/README.md
  ALUMNOS/MDAB/JOEL_SEGUI/DBT/dev.rep_payment_method_status.png
  ALUMNOS/MDAB/JOEL_SEGUI/DBT/dev.rep_returned_orders.png
  ALUMNOS/MDAB/JOEL_SEGUI/DBT/rep_payment_method_status.sql
  ALUMNOS/MDAB/JOEL_SEGUI/DBT/rep_turned_orders.sql
Labels: entregable, DBT

#327 Proyecto-final PYTHON
  ALUMNOS/MDAB/TING_WANG/PYTHON/PROYECTO-FINAL/funciones.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/PROYECTO-FINAL/lista_alumnos.py
  ALUMNOS/MDAB/TING_WANG/PYTHON/PROYECTO-FINAL/mensaje.txt
  ALUMNOS/MDAB/TING_WANG/PYTHON/PROYECTO-FINAL/proyecto_final.py
Labels: entregable, PYTHON

#535 lara_python
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/app.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/ejercicios_sesion_1.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/ejercicios_sesion_2.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/ejercicios_sesion_3.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/ejercicios_sesion_4.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/ejercicios_sesion_5.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/proyecto_final.py
  ALUMNOS/MDAB/LARA_RUBIO/PYTHON/requirements.txt
Labels: entregable, PYTHON

#533 python_exercises
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Proyecto_Final/proyecto_final.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion1/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion1/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion2/Ejercicio.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion3/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion3/Ejercicio2/Ejercicio2.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion3/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion4/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion4/Ejercicio2/requirements.txt
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion4/Ejercicio3/Ejercicio3.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion5/Ejercicio1/Data/pokemon_data.csv
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion5/Ejercicio1/Ejercicio1.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion5/Ejercicio2y3/Ejercicio2.py
  ALUMNOS/MDAB/CARLOS_OLIVER/PYTHON/Sesion5/Ejercicio2y3/Ejercicio3.py
Labels: entregable, PYTHON

#330 Pablo Esteban entrega python
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Proyecto_Final/gestor_alumnos.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_1/Ejercicio_1/hola_mundo.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_1/Ejercicio_2/saludar.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_2/Ejercicio/calculadora_inversiones.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_3/Ejercicio_1/calculadora_inversiones_v2.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_3/Ejercicio_2/numeros_primos.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_3/Ejercicio_3/anyos_bisiestos.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_4/Ejercicio_1/funciones.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_4/Ejercicio_2/requirements.txt
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_4/Ejercicio_3/request_api.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_5/Ejercicio_1/pokemons.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_5/Ejercicio_2/Automovil.py
  ALUMNOS/MIA/PABLO_ESTEBAN/PYTHON/Sesion_5/Ejercicio_3/Automoviles.py
Labels: entregable, PYTHON

#343 Entregas de python
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/ProyectoFinal/alumnos_es.csv
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/ProyectoFinal/crear_csv.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/ProyectoFinal/funciones_alumnos.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/ProyectoFinal/main.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion1/Ejercicio 2/sesion1_ejer1_2.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion2/Ejercicio 1/inversiones.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion3/Ejercicio 1/funciones_inversion.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion3/Ejercicio 1/inversion.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion3/Ejercicio 2/primos.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion3/Ejercicio 3/esBisiesto.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion4/Ejercicio 1/esBiestro_boolean.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion4/Ejercicio 1/esPrimo_parametros.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion4/Ejercicio 1/rango_primos.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion4/Ejercicio 2/randomuser.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion4/Ejercicio 3/requirements.txt
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion5/Ejercicio 1/ejercicio_pokemon.ipynb
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion5/Ejercicio 1/ejercicio_pokemon.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/Sesion5/Ejercicio 2 y 3/automoviles.py
  ALUMNOS/MIA/JORGE_MOLTO/PYTHON/requirements.txt
  alumnos_es.csv
Labels: entregable, PYTHON

#539 Ejercicios_python
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_1/Ejercicio_1/Ejercicio_1.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_1/Ejercicio_2/Ejercicio_2.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_2/Ejercicio/Ejercicio.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_3/Ejercicio_1/Ejercicio_1.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_3/Ejercicio_2/Ejercicio_2.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_3/Ejercicio_3/Ejercicio_3.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_4/Ejercicio_1/Ejercicio_1.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_4/Ejercicio_2/requirements.txt
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_4/Ejercicio_3/Ejercicio_3.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_5/Ejercicio_1/Ejercicio_1.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_5/Ejercicio_1/pokemon_data.csv
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_5/Ejercicio_2_y_3/Ejercicio_2.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Entregables/Sesion_5/Ejercicio_2_y_3/Ejercicio_3.py
  ALUMNOS/MDAB/CLAUDIA_ROMERO/PYTHON/Proyecto_final/proyecto_final.py
Labels: entregable, PYTHON
