Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-05, with the labels that each got.

#670 Aesctor api
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/APIS/sensor-api.yaml
Labels: entregable, APIS

#664 cokecancook/mlops
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/01-fast-api-server/app/app.py
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/01-fast-api-server/swagger-response.png
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/02-mlflow/mlflow-hiperparameters.png
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/02-mlflow/mlflow-training-deliverable.ipynb
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/02-mlflow/requirements.txt
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/03-pipelines/.gitignore
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/03-pipelines/metaflow-model-training.ipynb
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/03-pipelines/metaflow-screenshot.png
  ALUMNOS/MIA/COKE_STUYCK/MLOPS/03-pipelines/requirements.txt
Labels: entregable, MLOPS

#671 entregable_MLOPS_Pablo_Arnau
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_1/Entregable_1.PNG
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_1/app.py
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_1/model.pkl
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_2/Entregable_2.PNG
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_3/Entregable_3.PNG
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_3/metaflow_model_training.ipynb
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_3/metaflow_trainingflow.py
  ALUMNOS/MIA/PABLO_ARNAU/MLOPS/ENTREGABLE_3/requirements.txt
Labels: entregable, MLOPS

#669 DBT_exercise
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DBT/rep_payment_method_status.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DBT/rep_payment_method_status.sql
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DBT/rep_returned_orders.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DBT/rep_returned_orders.sql
Labels: entregable, DBT

#667 sql
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/SQL/SQL.pdf
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/SQL/sql.txt
Labels: entregable, SQL

#572 e2e-gcp-storage
  ALUMNOS/MDAB/CARLOS_OLIVER/GCP_ALMACENAMIENTO/Dashboard.png
  ALUMNOS/MDAB/CARLOS_OLIVER/GCP_ALMACENAMIENTO/END2END GCP STORAGE.pdf
Labels: entregable, GCP-Almacenamiento

#677 Ejercicio API
  ALUMNOS/MDAA/VICENTE_MARTI/APIS/ejercicio_api.yaml
Labels: entregable, APIS

#676 entregable-pyspark-miguel
  ALUMNOS/MDAA/MIGUEL_TORRES/PYSPARK/envios.csv
  ALUMNOS/MDAA/MIGUEL_TORRES/PYSPARK/script-envios.py
Labels: entregable, PYSPARK
