Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-04, with the labels that each got.

#643 PYTHON
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/mi_proyecto_python/main.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/mi_proyecto_python/requirements.txt
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 2/ejercicio1sesion2.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/ejercicio2/mi_proyecto_python/main.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/ejercicio2/mi_proyecto_python/requirements.txt
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/ejercicio2/requirements.txt
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/ejercicio2/sesion4ejercicio2.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/ejercicio3/sesion4ejercicio3.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 4/sesion4ejercicio1.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 5/ejercicio2/sesion5ejercicio2.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 5/ejercicio3/sesion5ejercicio3.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 5/pokemon_data.csv
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion 5/sesion5ejercicio1.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion1/ejercicio 1/ejercicio1.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion1/ejercicio 2/ejercicio2.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion3/ejercicio1/sesion3ejercicio1.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion3/ejercicio2/sesion3ejercicio2.ipynb
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/sesion3/ejercicio3/sesion3ejercicio3.ipynb
Labels: entregable, PYTHON

#639 MLOPS_Namase7
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_1/ENTREGABLE 1.PNG
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_1/app.py
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_1/model.pkl
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_2/entregable_2.PNG
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_3/ENTREGABLE 3.PNG
  ALUMNOS/MIA/IGNACIO_MARTINEZ/MLOPS/entregable_3/Metaflow.ipynb
Labels: entregable, MLOPS

#646 PROYECTO FINAL PY
  ALUMNOS/MIA/JAIME_OLANO/PYTHON/proyecto final/proyecto_final.py
Labels: entregable, PYTHON

#645 AHORCADO
  ALUMNOS/MIA/JAIME_OLANO/AHORCADO/ahorcado.py
  ALUMNOS/MIA/JAIME_OLANO/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#642 e2e_pyspark_lara
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/4_diy_etl.pdf
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/README.md
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/docker/docker-compose.yml
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/project/jar/mysql-connector-j-8.0.33.jar
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/project/resources/IMDB.csv
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/project/resources/example.csv
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/project/src/python/imdb_ratings.py
  ALUMNOS/MDAB/LARA_RUBIO/PYSPARK/project/src/python/imdb_ratings_sql.py
Labels: entregable, PYSPARK

#638 EJERCICIO_DOCKER
  ALUMNOS/MIA/JAIME_OLANO/DOCKER/Captura.PNG
  ALUMNOS/MIA/JAIME_OLANO/DOCKER/dockerfile
  ALUMNOS/MIA/JAIME_OLANO/DOCKER/sum.py
Labels: entregable, DOCKER

#636 sql-jaime
  ALUMNOS/MIA/JAIME_OLANO/SQL/README.md
  ALUMNOS/MIA/JAIME_OLANO/SQL/docker-compose.yml
  ALUMNOS/MIA/JAIME_OLANO/SQL/dvdrental.tar
  ALUMNOS/MIA/JAIME_OLANO/SQL/sesion1.sql
  ALUMNOS/MIA/JAIME_OLANO/SQL/sesion2.sql
  ALUMNOS/MIA/JAIME_OLANO/SQL/sesion3.sql
Labels: entregable, SQL

#635 Update README.md
  ALUMNOS/MIA/MAURO_BALAGUER/README.md
Labels: entregable

#634 tictactoe
  ALUMNOS/MIA/JAIME_OLANO/TICTACTOE/DOCKER-COMPOSE
  ALUMNOS/MIA/JAIME_OLANO/TICTACTOE/docker-compose.yaml
  ALUMNOS/MIA/JAIME_OLANO/TICTACTOE/dockerfile
  ALUMNOS/MIA/JAIME_OLANO/TICTACTOE/juego.py
  ALUMNOS/MIA/JAIME_OLANO/TICTACTOE/tictactoe-jaime.ipynb
Labels: entregable, TICTACTOE

#623 Ejercicio entregable SQL
  ALUMNOS/MDAA/ALEX_REVERT/SQL/SQL-NOTES.txt
  ALUMNOS/MDAB/JUAN_MONTOLIU/DBT/jaffle_shop/logs/dbt.log
Labels: entregable, SQL, DBT

#624 Feature/python joan
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion2/ejercicios_sesion2.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion3/bisiesto.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion3/inversion.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion3/primo.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion4/bisiesto.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion4/main.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion4/nombre.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion4/num_primo.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion4/rango_primo.py
  ALUMNOS/MDAA/JOAN_GILABERT/PYTHON/ejercicios_sesion5/main.py
Labels: entregable, PYTHON

#656 Update README.md
  ALUMNOS/MDAA/ALEX_REVERT/README.md
Labels: entregable

#655 Deliverable_kafka_bessini
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/Capturas/Consumer.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/Capturas/producer.PNG
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/consumer.py
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/olympic_medals.csv
  ALUMNOS/MDAA/JUAN_BESSINI/KAFKA/producer.py
Labels: entregable, KAFKA

#654 Ejercicio de APIS
  ALUMNOS/MDAA/ALEX_REVERT/APIS/swagger.yaml
Labels: entregable, APIS

#653 paujorques02-mlops
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 1/fast-api-server/app/app.py
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 1/model.pkl
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 1/swagger.png
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 2/visualizacion.png
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 3/log de la pipeline.png
  ALUMNOS/MIA/PAU_JORQUES/MLOPS/Entregable 3/metaflow_model_training.ipynb
Labels: entregable, MLOPS

#648 Entrega MLOPS
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/Entregable_JM.md
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/fastApi.py
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/media/ejer1-entrega.png
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/media/ejer2-entrega.png
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/media/ejer3-entrega.png
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/metaflow-model-training.ipynb
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/metaflow_trainingflow.py
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/model.pkl
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/random_forest_model.pkl
  ALUMNOS/MIA/JORGE_MOLTO/MLOPS/requirements.txt
Labels: entregable, MLOPS

#620 Pablo mlops
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/.gitignore
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/Entregable_1.png
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/Entregable_2.png
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/Entregable_3.png
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/README.md
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-registry/mlflow-basics.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-registry/mlflow-training.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-registry/outputs/test.txt
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-registry/requirements.txt
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-server/app/app.py
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-server/models/model.pkl
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-tutorial/app/app.py
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-vertex/Dockerfile
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-vertex/docker-instructions.sh
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-vertex/push-docker-gcp.sh
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/fast-api-vertex/requirements.txt
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/mlserver/00-basic/sklearn-basic-example.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/mlserver/01-custom/custom-example.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/mlserver/01-custom/models.py
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/requirements.txt
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/model-servers/train-simple-model.py
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/kubeflow_exercise.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/kubeflow_tutorial.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/metaflow-basics.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/metaflow-model-training.ipynb
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/metaflow_basics_linearflow.py
  ALUMNOS/MIA/PABLO_ESTEBAN/MLOPS/pipelines/requirements.txt
Labels: entregable, MLOPS

#658 cloud
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla dataset delivery_bronze.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla ecomerce database.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla error .png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla external table.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla operational-db-1.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla operational-db-2.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla operational-db.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla orders-app.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla subscripcion.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/Captura de pantalla tabla-customers.png
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/GCP_ALMACENAMIENTO/comandos.txt
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/LINUX/README.MD
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/LINUX/Unix.pdf
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/LINUX/script.sh
  ALUMNOS/MDAA/ALEJANDRO_ESCOLANO/PYTHON/entregable.py
Labels: entregable, LINUX, PYTHON

#621 Alejbc27 - AWS_ALMACENAMIENTO
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/.gitignore
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/dockerfile
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/iceberg_create_insert.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-1.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-10.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-11.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-12.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-13.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-14.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-2.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-3.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-4.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-5.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-6.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-7.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-8.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image-9.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/images/image.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/initial_info.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/deployment.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/dockerfile
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/iceberg_extract_load.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/rds_extract_load.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/redshift_extract_load.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/kubernetes/service.yaml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/main.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/rds_e2e.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/redshift_etl.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/AWS_ALMACENAMIENTO/requirements.txt
Labels: entregable

#616 e-wach/AWS-ALMACENAMIENTO
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/.gitignore
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/Dockerfile
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/__init__.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/aws_resources/__init__.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/aws_resources/iceberg.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/aws_resources/rds.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/aws_resources/redshift.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data/__init__.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data/initial_info.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data_processors/__init__.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data_processors/airplanes.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data_processors/flights.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/data_processors/passengers.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/main.py
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/app_jacinto/requirements.txt
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/app.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/athena.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/bucket.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/dbeaver-airplanes.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/docker.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/git.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/redshift.png
  ALUMNOS/MDAB/TING_WANG/AWS_ALMACENAMIENTO/img/tablas.png
Labels: entregable
