Repository a10pepo/EDEM_MDA2425, pull requests merged in 2025-02, with the labels that each got.

#534 api_exercises
  ALUMNOS/MDAB/CARLOS_OLIVER/APIS/README.md
  ALUMNOS/MDAB/CARLOS_OLIVER/APIS/robot_sensor_api.yaml
Labels: entregable, APIS

#450 Ejercicios Python sesión 1 y 2
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_1/ejercicio_1_sesion_1.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_1/ejercicio_2_sesion_1.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_2/ejercicio_1_sesion_2.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_3/ejercicio_1_sesion_3.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_3/ejercicio_2_sesion_3.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_3/ejercicio_3_sesion_3.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_1_1_sesion_4.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_1_2_sesion_4.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_1_3_sesion_4.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_2_sesion_4/python.py
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_2_sesion_4/requirements.txt
  ALUMNOS/MDAA/MIGUEL_TORRES/PYTHON/SESION_4/ejercicio_3_sesion_4/llamada_api.py
Labels: entregable, PYTHON

#542 GCP_Almacenamiento/tiwach
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-1.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-10.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-11.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-12.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-13.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-14.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-15.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-16.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-17.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-18.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-2.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-20.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-3.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-4.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-5.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-6.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-7.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-8.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image-9.png
  ALUMNOS/MDAB/TING_WANG/GCP_ALMACENAMIENTO/img/image.png
Labels: entregable

#546 end_2_end entregable GCP
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/Readme.md
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/4.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/5.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/6.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/7.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/8.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/9.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/01-crear_instancias_virtuales/91.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/02-crear_pub_sub/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/02-crear_pub_sub/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/03-postgres/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/03-postgres/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/03-postgres/3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/03-postgres/4.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/03-postgres/5.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/04_big_Query/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/04_big_Query/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/05_BQ_sub/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/05_BQ_sub/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/06-data-lake/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/07_exec_scripts/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/08_comprobacion/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/08_comprobacion/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/08_comprobacion/3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/08_comprobacion/4.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/08_comprobacion/5.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/DBT/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/DBT/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/DBT/3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/DBT/4.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/DBT/5.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/metabase/1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/metabase/2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/images/metabase/3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/.images/arquitectura.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/.images/metabase_dashboard.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/.images/propuesta_1.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/.images/propuesta_2.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/.images/propuesta_3.png
  ALUMNOS/MDAB/VALENTIN_VECHER/GCP_ALMACENAMIENTO/readme/README.md
Labels: entregable

#560 ejercicios-mar-python
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 1/Ejercicio 1/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 1/Ejercicio 2/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 2/Ejercicio/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 3/Ejercicio 1/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 3/Ejercicio 2/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 3/Ejercicio 3/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 4/Ejercicio 1/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 4/Ejercicio 2/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 4/Ejercicio 2/requirements.txt
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 4/Ejercicio 3/archivo.py
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 4/Ejercicio 3/requirements.txt
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 5/Ejercicio 1/pokemon.ipynb
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 5/Ejercicio 1/pokemon_data.csv
  ALUMNOS/MDAA/MAR_SOLER/PYTHON/Sesión 5/Ejercicio 1/requirements.txt
Labels: entregable, PYTHON

#563 entregable
  ALUMNOS/MDAA/MAR_SOLER/DOCKER/Dockerfile
  ALUMNOS/MDAA/MAR_SOLER/DOCKER/prueba-docker.png
  ALUMNOS/MDAA/MAR_SOLER/DOCKER/suma.py
Labels: entregable, DOCKER

#561 ejercicios
  ALUMNOS/MDAA/MAR_SOLER/AHORCADO/Dockerfile
  ALUMNOS/MDAA/MAR_SOLER/AHORCADO/ahorcado.py
  ALUMNOS/MDAA/MAR_SOLER/AHORCADO/docker-compose.yml
  ALUMNOS/MDAA/MAR_SOLER/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#568 SQL_NOTAS
  ALUMNOS/MDAA/JOAN_GILABERT/SQL/NOTAS_SQL.txt
Labels: entregable, SQL

#564 entrega-kafka
  ALUMNOS/MDAA/MAR_SOLER/KAFKA/consumer.py
  ALUMNOS/MDAA/MAR_SOLER/KAFKA/docker-compose.yml
  ALUMNOS/MDAA/MAR_SOLER/KAFKA/pom.xml
  ALUMNOS/MDAA/MAR_SOLER/KAFKA/producer.py
  ALUMNOS/MDAA/MAR_SOLER/KAFKA/recetas.txt
Labels: entregable, KAFKA

#551 entregable_KAFKA_Marc
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/README.md
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/architecture.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/capturas_entregable_KAFKA/consumer_final_py.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/capturas_entregable_KAFKA/consumer_temp_high_py.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/capturas_entregable_KAFKA/kafka_ui_topics.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/capturas_entregable_KAFKA/operaciones_ksql.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/capturas_entregable_KAFKA/producer_py.png
  ALUMNOS/MDAB/MARC_CANTERO/KAFKA/iot_dataset.json
Labels: entregable

#548 Almacenamiento Cloud JMontoliu
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/.images/arquitectura.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/.images/metabase_dashboard.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/.images/propuesta_1.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/.images/propuesta_2.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/.images/propuesta_3.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/README.md
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/entregable.md
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt1.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt10.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt11.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt12.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt13.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt15.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt16.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt17.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt18.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt19.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt2.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt20.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt21.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt22.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt23.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt24.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt25.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt26.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt27.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt28.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt29.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt3.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt30.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt4.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt5.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt6.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt7.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt8.png
  ALUMNOS/MDAB/JUAN_MONTOLIU/GCP_ALMACENAMIENTO/images/capt9.png
Labels: entregable

#554 Entregable docker Miguel Torres
  ALUMNOS/MDAA/MIGUEL_TORRES/DOCKER/Dockerfile
  ALUMNOS/MDAA/MIGUEL_TORRES/DOCKER/captura_ejecucion_docker.png
  ALUMNOS/MDAA/MIGUEL_TORRES/DOCKER/imagen_dockerhub.txt
  ALUMNOS/MDAA/MIGUEL_TORRES/DOCKER/suma.py
Labels: entregable, DOCKER

#549 Entregable sql
  ALUMNOS/MDAA/MIGUEL_TORRES/SQL/sesion1.sql
  ALUMNOS/MDAA/MIGUEL_TORRES/SQL/sesion2.sql
Labels: entregable, SQL

#449 Valenvgon kafka
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/consumer.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/consumer_completadas.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/consumer_dinero.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/consumer_pais.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/consumer_pendientes.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/docker-compose.yml
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/producer.py
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/requirements.txt
  ALUMNOS/MDAB/VALENTIN_VECHER/KAFKA/transferencias.json
Labels: entregable, KAFKA

#541 AHORCADO
  ALUMNOS/MIA/MAURO_BALAGUER/AHORCADO/Dockerfile
  ALUMNOS/MIA/MAURO_BALAGUER/AHORCADO/ahorcado.py
  ALUMNOS/MIA/MAURO_BALAGUER/AHORCADO/docker-compose.yml
  ALUMNOS/MIA/MAURO_BALAGUER/AHORCADO/palabras.txt
Labels: entregable, AHORCADO

#523 ejercicios_carlos_enero
  ALUMNOS/MIA/CARLOS_PORTILLA/DEMO/.gitkeep
  ALUMNOS/MIA/CARLOS_PORTILLA/DOCKER/1.py
  ALUMNOS/MIA/CARLOS_PORTILLA/DOCKER/Dockerfile
  ALUMNOS/MIA/CARLOS_PORTILLA/DOCKER/image.png
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/1/1.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/1/2.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/2/1.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/3/1.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/3/2.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/3/3.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/4/1.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/4/3.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/4/ejercicio 4 venv/requirements.txt.txt
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/5/1/data/pokemon_data.csv
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/5/1/pokemon_database.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/5/2/automobile_class.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/5/3/automobile_children_classes.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Ejercicio_final.py
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/10.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/11.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/2.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/3.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/4.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/5.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/6.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/7.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/8.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/PYTHON/Retos/9.ipynb
  ALUMNOS/MIA/CARLOS_PORTILLA/SQL/1.txt
  ALUMNOS/MIA/CARLOS_PORTILLA/SQL/2.txt
  ALUMNOS/MIA/CARLOS_PORTILLA/SQL/3.txt
Labels: entregable, SQL, PYTHON, DOCKER

#526 entregable_docker
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DOCKER/dockerfile
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DOCKER/imagen.png
  ALUMNOS/MDAB/CLAUDIA_ROMERO/DOCKER/script.py
Labels: entregable, DOCKER

#536 LARA_DOCKER
  ALUMNOS/MDAB/LARA_RUBIO/DOCKER/dockerfile
  ALUMNOS/MDAB/LARA_RUBIO/DOCKER/sum.py
  ALUMNOS/MDAB/LARA_RUBIO/DOCKER/suma.png
Labels: entregable, DOCKER

#581 alejbc27 - gcp_almacenamiento
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/entregable.md
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-1.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-10.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-11.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-12.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-13.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-14.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-15.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-16.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-17.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-18.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-19.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-2.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-20.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-21.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-22.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-23.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-24.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-25.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-27.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-28.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-29.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-3.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-30.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-31.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-32.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-33.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-34.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-35.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-36.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-5.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-6.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-7.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-8.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image-9.png
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/GCP_ALMACENAMIENTO/images/image.png
Labels: entregable

#579 Gcp-Almacenamiento-joel-finished
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/Readme.md
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image1.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image10.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image11.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image12.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image13.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image14.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image15.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image16.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image17.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image18.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image19.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image2.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image20.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image21.jpg
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image3.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image4.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image5.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image6.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image7.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image8.png
  ALUMNOS/MDAB/JOEL_SEGUI/GCP_ALMACENAMIENTO/images/image9.png
Labels: entregable

#583 alejbc27 - chuck
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/CHUCK/docker-compose.yml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/CHUCK/main.py
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/CHUCK/nifi_template.xml
  ALUMNOS/MDAB/ALEJANDRO_BOSCH/CHUCK/requirements.txt
Labels: entregable, CHUCK
